@model PaginatedList<RequestedShiftVM>;
<table class="table table-responsive">
    <thead>
        <tr class="table-secondary">
            <td></td>
            <td>Staff</td>
            <td>Day</td>
            <td>Time</td>
            <td>Region</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <input class="checkBox" type="checkbox" name="checkBox" data-id="@item.shiftDetailId" />
                </td>
                <td>@item.staff</td>
                <td>@item.Day</td>
                <td>@item.Time</td>
                <td>@item.Region</td>
            </tr>
        }
    </tbody>
</table>

@*Pagination*@

<div class="row pageMenu">
    <div class="col-md-12">
        <nav>
            <ul class="pagination justify-content-end">
                <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                    <a class="btn pageBtn page-link text-black" data-page="1">
                        first
                    </a>
                </li>
                <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                    <a class="btn pageBtn page-link text-black" data-page="@(Model.PageIndex - 1)">
                        Previous
                    </a>
                </li>
                <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled": "")">
                    <a class="btn pageBtn page-link text-black" data-page="@(Model.PageIndex + 1)">
                        next
                    </a>
                </li>
                <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                    <a class="btn pageBtn page-link text-black" data-page="@(Model.TotalPages)">
                        Last
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script>
    $(".pageBtn").click(function () {
        var pageNumber = $(this).data('page');
        var RegionFilter = $("#RegionFilter2").val();
        $.ajax({
            url: '/ProvidersMenu/RequestedShiftTable',
            type: 'POST',
            data: {
                pagenumber: pageNumber,
                RegionFilter: RegionFilter
            },
            success: function (result) {
                $('#ShiftTable').html(result);
            },
            error: function (error) {
                console.log(error);
                alert('error fetching details')
            },
        })
    })

    $("#RegionFilter2").change(function () {
        var RegionFilter = $("#RegionFilter2").val();
        $.ajax({
            url: '/ProvidersMenu/RequestedShiftTable',
            type: 'POST',
            data: {
                RegionFilter: RegionFilter
            },
            success: function (result) {
                $('#ShiftTable').html(result);
            },
            error: function (error) {
                console.log(error);
                alert('error fetching details')
            },
        })
    })

    $("#DeleteBtn").click(function () {
        $(".checkBox").each(function () {
            if ($(this).prop('checked')) {
               $.ajax({
                    url: '/ProvidersMenu/DeleteShift',
                    type: 'POST',
                    data: {
                        shiftDetailId: $(this).data('id')
                    },
                    success: function(){
                        $("#ShiftTable").load('/ProvidersMenu/RequestedShiftTable');
                    }
               })
            }
        })
    })

    $("#ApproveBtn").click(function () {
        $(".checkBox").each(function () {
            if ($(this).prop('checked')) {
                $.ajax({
                    url: '/ProvidersMenu/ReturnShift',
                    type: 'POST',
                    data: {
                        shiftDetailId: $(this).data('id')
                    },
                    success: function () {
                        $("#ShiftTable").load('/ProvidersMenu/RequestedShiftTable');
                    }
                })
            }
        })
    })
</script>