@model PaginatedList<RequestedShiftVM>;
<table class="table table-responsive">
    <thead>
        <tr class="table-secondary">
            <td></td>
            <td>Staff</td>
            <td>Day</td>
            <td>Time</td>
            <td>Region</td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items.Count == 0)
        {
            <tr>
                <td>No data found.</td>
            </tr>
        }
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <input class="checkBox" type="checkbox" name="checkBox" data-id="@item.shiftDetailId" />
                </td>
                <td>@item.staff</td>
                <td>@item.Day</td>
                <td>@item.Time</td>
                <td>@item.Region</td>
            </tr>
        }
    </tbody>
</table>

@*Pagination*@
<partial name="_PaginationPart" />

<script>
    $(".pageBtn").click(function () {
        var pageNumber = $(this).data('page');
        var RegionFilter = $("#RegionFilter2").val();
        $.ajax({
            url: '/ProvidersMenu/RequestedShiftTable',
            type: 'POST',
            data: {
                pagenumber: pageNumber,
                RegionFilter: RegionFilter
            },
            success: function (result) {
                $('#ShiftTable').html(result);
            },
            error: function (error) {
                console.log(error);
                alert('error fetching details')
            },
        })
    })

    $("#RegionFilter2").change(function () {
        var RegionFilter = $("#RegionFilter2").val();
        $.ajax({
            url: '/ProvidersMenu/RequestedShiftTable',
            type: 'POST',
            data: {
                RegionFilter: RegionFilter
            },
            success: function (result) {
                $('#ShiftTable').html(result);
            },
            error: function (error) {
                console.log(error);
                alert('error fetching details')
            },
        })
    })

    $("#DeleteBtn").click(function () {
        $(this).off('click');
        var shiftDetailId = new Array();
        $(".checkBox").each(function () {
            if ($(this).prop('checked')) {
                shiftDetailId.push($(this).data('id'));
            }
        })

        $.ajax({
            url: '/ProvidersMenu/DeleteSelectedShift',
            type: 'POST',
            data: {
                shiftDetailId: shiftDetailId
            },
            success: function () {
                $("#ShiftTable").load('/ProvidersMenu/RequestedShiftTable');
               
            }
        })
    })

    $("#ApproveBtn").click(function () {
        $(this).off('click');
        var shiftDetailId = new Array();
        $(".checkBox").each(function () {
            if ($(this).prop('checked')) {
                shiftDetailId.push($(this).data('id'));
            }
        })

        $.ajax({
            url: '/ProvidersMenu/ReturnSelectedShift',
            type: 'POST',
            data: {
                shiftDetailId: shiftDetailId
            },
            success: function () {
                $("#ShiftTable").load('/ProvidersMenu/RequestedShiftTable');
            }
        })
    })
</script>