@model Scheduling;
@{
    ViewData["Title"] = "Scheduling";
    Layout = "_adminLayout";
}

<div class="container d-flex justify-content-between mt-4" style="max-width:1500px">
    <h4>
        Scheduling
    </h4>
    <a onclick="history.go(-1)" class="btn btn-outline-primary m-2 text-decoration-none float-end"
       id="back-btn">
        <img src="~/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" class="img-fluid" alt="">
        Back
    </a>
</div>
<div class="container mt-4 shadow p-1" style="max-width:1500px">
    <div class="container d-sm-flex justify-content-between mt-4" style="max-width:1500px">
        <form method="post" id="DashboradForm">
            <div class="d-flex normal-input rounded align-items-center ms-lg-2 ps-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 50 50">
                    <path d="M 21 3 C 11.654545 3 4 10.654545 4 20 C 4 29.345455 11.654545 37 21 37 C 24.701287 37 28.127393 35.786719 30.927734 33.755859 L 44.085938 46.914062 L 46.914062 44.085938 L 33.875 31.046875 C 36.43682 28.068316 38 24.210207 38 20 C 38 10.654545 30.345455 3 21 3 z M 21 5 C 29.254545 5 36 11.745455 36 20 C 36 28.254545 29.254545 35 21 35 C 12.745455 35 6 28.254545 6 20 C 6 11.745455 12.745455 5 21 5 z">
                    </path>
                </svg>
                <select class="form-select border-0" id="RegionFilter3" name="RegionFilter3" aria-label="Default select example">
                    <option selected value="null">All Regions</option>
                    @foreach (var item in Model.Regions)
                    {
                    <option value="@item.Regionid">@item.Name</option>
                    }
                </select>
            </div>
        </form>
        <div>
            <a id="CreateShiftBtn" class="btn btn-primary m-2 mt-sm-0 float-sm-end ">
                Add new shift
            </a>
            <a asp-action="RequestedShift" class="btn btn-primary m-2 mt-sm-0 float-sm-end ">
                Shift for review
            </a>
            <a asp-action="ProviderOnCall" class="btn btn-primary m-2 mt-sm-0 float-sm-end ">
                Provider on Call
            </a>
        </div>
    </div>
    <div class="container d-sm-flex justify-content-between mt-4" style="max-width:1500px">
        <h4 id="DateSpan">@Model.Date.ToString("MMM") , @Model.Date.Day, @Model.Date.Year</h4>
        <input id="date" value="@Model.Date" hidden/>
        <div class="d-flex">
            <div class="rounded mx-1" style="width:50px; height:25px; border: 1px solid pink; background-color: pink;"></div>
            <h5>Pending Shifts</h5>
            <div class="rounded mx-1" style="width:50px; height:25px; border: 1px solid lightgreen; background-color: lightgreen;"></div>
            <h5>Approved Shits</h5>
        </div>
    </div>
    <div class="container d-sm-flex justify-content-between mt-4" style="max-width:1500px">
        <div>
            <button type="button" id="previousDay" class="btn btn-primary me-1"><</button>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z" />
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
            </svg>
            <button type="button" id="nextDay" class="btn btn-primary ms-1">></button>
        </div>
        <div class="d-flex justify-content-center">
            <div>
                <input type="radio" class="btn-check " name="options" id="DayBtn" autocomplete="off" checked>
                <label class="btn btn-outline-primary me-1" for="DayBtn">Day</label>
            </div>
            <div>
                <input type="radio" class="btn-check" name="options" id="WeekBtn" autocomplete="off">
                <label class="btn btn-outline-primary me-1" for="WeekBtn">Week</label>
            </div>
            <div>
                <input type="radio" class="btn-check " name="options" id="MonthBtn" autocomplete="off">
                <label class="btn btn-outline-primary me-1" for="MonthBtn">Month</label>
            </div>
        </div>
    </div>

    <div class="container d-sm-flex justify-content-between mt-4" id="calenderDiv" style="max-width:1500px">
        
    </div>
</div>

<div id="modelDiv2">
</div>
<div id="modelDiv3">
</div>
<div id="modelDiv">
</div>

@section AdminScript {
    <script>

        $("#CreateShiftBtn").click(function () {
            $("#modelDiv").load('/ProvidersMenu/CreateShift', function (response, status, xhr) {
                if (status == "success") {
                    $("#CreateShiftModel").modal('show');
                } else {
                    console.log("Error loading partial view" + xhr.status + " " + xhr.statusText);
                }
            });
        })
        $(document).ready(function(){
            $("#DayBtn").click();
        })
        $("#DayBtn").click(function () {
            $("#calenderDiv").empty();
            var date = $("#date").val();
            var startDate = new Date(Date.parse(date));
            var region = $("#RegionFilter3").val();
            $("#DateSpan").empty();
            $("#DateSpan").text(month[startDate.getMonth()] + ", " + startDate.getDate() + ", " + startDate.getFullYear());
            $("#calenderDiv").load('/ProvidersMenu/DayWiseScheduling' ,{date: date ,region: region}, function (response, status, xhr) {
                if (status != "success") {
                    console.log("Error loading partial view" + xhr.status + " " + xhr.statusText);
                }
            });
        })
        $("#WeekBtn").click(function () {
            $("#calenderDiv").empty();
            var date = $("#date").val();
            var startDate = new Date(Date.parse(date));
            var endDate = new Date(Date.parse(date));
            endDate.setDate(endDate.getDate()+6);
            var region = $("#RegionFilter3").val();
            $("#DateSpan").empty();
            $("#DateSpan").text(month[startDate.getMonth()] + " " + startDate.getDate() + " - " + month[endDate.getMonth()] + " " + endDate.getDate() +", " + startDate.getFullYear());
            $("#calenderDiv").load('/ProvidersMenu/WeekWiseScheduling', { date: date, region: region }, function (response, status, xhr) {
                if (status != "success") {
                    console.log("Error loading partial view" + xhr.status + " " + xhr.statusText);
                }
            });
        })
        $("#MonthBtn").click(function () {
            $("#calenderDiv").empty();
            var date = $("#date").val()
            var startDate = new Date(Date.parse(date));
            $("#DateSpan").empty();
            $("#DateSpan").text(month[startDate.getMonth()]);
            var region = $("#RegionFilter3").val();
            $("#calenderDiv").load('/ProvidersMenu/MonthWiseScheduling', { date: date, region: region }, function (response, status, xhr) {
                if (status != "success") {
                    console.log("Error loading partial view" + xhr.status + " " + xhr.statusText);
                }
            });
        })

        var month = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

        $("#nextDay").click(function(){
            var date = $("#date").val();
            var startDate = new Date(Date.parse(date));
        
            if($("#DayBtn").prop('checked')){
                startDate.setDate(startDate.getDate() + 1);
                $("#date").val(startDate.toLocaleDateString());
                $("#DayBtn").click();
            }
            if($("#WeekBtn").prop('checked')){
                startDate.setDate(startDate.getDate() + 7); 
                $("#date").val(startDate.toLocaleDateString());
                $("#WeekBtn").click();
            }
            if ($("#MonthBtn").prop('checked')) {
                startDate.setMonth(startDate.getMonth() + 1);
                $("#date").val(startDate.toLocaleDateString());
                $("#MonthBtn").click();
            }

        })

        $("#previousDay").click(function () {
            var date = $("#date").val();
            var startDate = new Date(Date.parse(date));

            if ($("#DayBtn").prop('checked')) {
                startDate.setDate(startDate.getDate() - 1);
                $("#date").val(startDate.toLocaleDateString());
                $("#DayBtn").click();
            }
            if ($("#WeekBtn").prop('checked')) {
                startDate.setDate(startDate.getDate() - 7);
                $("#date").val(startDate.toLocaleDateString());
                $("#WeekBtn").click();
            }
            if ($("#MonthBtn").prop('checked')) {
                startDate.setMonth(startDate.getMonth() - 1);
                $("#date").val(startDate.toLocaleDateString());
                $("#MonthBtn").click();
            }
        })

        $("#RegionFilter3").change(function(){
            if ($("#DayBtn").prop('checked')) {
                $("#DayBtn").click();
            }
            if ($("#WeekBtn").prop('checked')) {
                $("#WeekBtn").click();
            }
            if ($("#MonthBtn").prop('checked')) {
                $("#MonthBtn").click();
            }
        })
    </script>
}