@model PaginatedList<newReqViewModel>;
<table class="table table-responsive d-none d-md-table">
    <thead>
        <tr class="table-secondary">
            <td>Name</td>
            <td></td>
            <td>Date of Birth</td>
            <td>Requestor</td>
            <td>Requested Date</td>
            <td>Phone</td>
            <td>Address</td>
            <td>Notes</td>
            <td>Chat with</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items.Count == 0)
        {
            <tr>
                <td>No data found.</td>
            </tr>
        }
        @foreach (var item in Model.Items)
        {
            var bg = "";
            var name = item.Firstname + " " + item.Lastname;
            @switch (item.reqTypeId)
            {
                case 1:
                    bg = "#4fc54d";
                    break;
                case 2:
                    bg = "#ff9e2c";
                    break;
                case 3:
                    bg = "#10bce9";
                    break;
                case 4:
                    bg = "#f745aa";
                    break;
            }
            <tr>
                <td style="background-color: @bg;">
                    @item.Firstname @item.Lastname <br />
                    @if (item.Status == (int)enumsFile.requestStatus.Assigned)
                    {
                        <button class="btn btn-danger" disabled>Assigned</button>
                    }
                </td>
                <td style="background-color: @bg;">
                    <a href="mailto: @item.Email" class="btn border rounded">
                        <img src="~/images/envelope.svg" />

                    </a>
                </td>
                <td style="background-color: @bg;">
                    @item.Strmonth
                </td>
                <td style="background-color: @bg;">
                    @if (item.reqTypeId == 1)
                    {
                        <div>
                            Patient <br />
                            @item.reqFirstname @item.reqLastname
                        </div>
                    }
                    @if (item.reqTypeId == 2)
                    {
                        <div>
                            Family/Friend <br />
                            @item.reqFirstname @item.reqLastname
                        </div>
                    }
                    @if (item.reqTypeId == 3)
                    {
                        <div>
                            Concierge <br />
                            @item.reqFirstname @item.reqLastname
                        </div>
                    }
                    @if (item.reqTypeId == 4)
                    {
                        <div>
                            Business <br />
                            @item.reqFirstname @item.reqLastname
                        </div>
                    }
                </td>
                <td style="background-color: @bg;">
                    @item.Createddate
                </td>
                <td style="background-color: @bg;">
                    <a href="tel:@item.Phonenumber" class="btn border rounded d-flex justify-content-center">
                        <img src="~/images/telephone.svg" />
                        @item.Phonenumber
                    </a>
                    (Patient)
                    @if (item.reqTypeId == 2)
                    {
                        <div>
                            <a href="tel:@item.FamilyPhonenumber" class="btn border rounded d-flex justify-content-center">
                                <img src="~/images/telephone.svg" />
                                @item.FamilyPhonenumber
                            </a>
                            (Family/Friend)
                        </div>
                    }
                    @if (item.reqTypeId == 3)
                    {
                        <div>
                            <a href="tel:@item.ConciergePhonenumber" class="btn border rounded d-flex justify-content-center">
                                <img src="~/images/telephone.svg" />
                                @item.ConciergePhonenumber
                            </a>
                            (Concierge)
                        </div>
                    }
                    @if (item.reqTypeId == 4)
                    {
                        <div>
                            <a href="tel:@item.BusinessPhonenumber" class="btn border rounded d-flex justify-content-center">
                                <img src="~/images/telephone.svg" />
                                @item.BusinessPhonenumber
                            </a>
                            (Business)
                        </div>
                    }
                </td>
                <td style="background-color: @bg;">
                    @item.Street, @item.City, @item.State, @item.Zipcode
                </td>
                <td style="background-color: @bg;">
                    @item.Notes
                </td>
                <td style="background-color: @bg;">
                    @if (item.Status == (int)enumsFile.requestStatus.Assigned)
                    {
                        <a class="btn border rounded ProviderChatBtn" data-id="@item.reqClientId">Provider</a>
                    }
                    <a class="btn border rounded" onclick="openChatBox()">Patient</a>
                </td>
                <td style="background-color: @bg;">
                    <a class="btn border rounded dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="btn dropdown-item AssignCaseBtn" data-name="@name" data-id="@item.reqClientId">Assign Case</a></li>
                        <li><a class="btn dropdown-item CancelCaseBtn" data-name="@name" data-id="@item.reqClientId">Cancel Case</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("ViewCase", new {reqClientId = item.reqClientId})">View Case</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("ViewNote", new {reqClientId = item.reqClientId})">View Notes</a></li>
                        <li><a class="btn dropdown-item BlockCaseBtn" data-name="@name" data-id="@item.reqClientId">Block Patient</a></li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Mobile View*@
<div class="d-md-none mobileView">
    @foreach (var item in Model.Items)
    {
        var name = item.Firstname + "," + item.Lastname;
        <div class="shadow m-1 p-2" data-bs-toggle="collapse" href="#@item.reqClientId" role="button" aria-expanded="false">

            <div class="d-flex justify-content-between mb-2">
                @name
                @if (item.reqTypeId == 1)
                {
                    <div>
                        Patient
                        <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                            <circle fill="#5fbc61" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                        </svg>
                    </div>
                }
                @if (item.reqTypeId == 2)
                {
                    <div>
                        Family/Friend
                        <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                            <circle fill="#ed9124" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                        </svg>
                    </div>
                }
                @if (item.reqTypeId == 3)
                {
                    <div>
                        Concierge
                        <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                            <circle fill="#007fc6" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                        </svg>
                    </div>
                }
                @if (item.reqTypeId == 4)
                {
                    <div>
                        Business
                        <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                            <circle fill="#e26277" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                        </svg>
                    </div>
                }
            </div>
            <div class="d-flex justify-content-between">
                <span class="w-50">
                    @item.Street, @item.City, @item.State, @item.Zipcode
                </span>
                <div class="w-50">
                    <button type="button" class="btn btn-outline-primary float-end">Map Location</button>
                </div>
            </div>
            <p>
                <img src="/images/clock.svg" />
                Wait Time: @item.Createddate
            </p>
        </div>
        <div class="collapse shadow m-1 p-2" id="@item.reqClientId">
            <a class="btn btn-outline-success float-end" href="@Url.Action("ViewCase", new {reqClientId = item.reqClientId})">View Case</a>
            <p>Date of birth: @item.Strmonth</p>
            <p>Email: @item.Email</p>
            <p>Patient: @item.Phonenumber</p>
            <p>Requestor: @item.reqFirstname, @item.reqLastname</p>
            <div class="row">
                <div class="col-5 m-2">
                    <a class="btn btn-primary AssignCaseBtn w-100" data-name="@name" data-id="@item.reqClientId">Assign Case</a>
                </div>
                <div class="col-5 m-2">
                    <a class="btn btn-danger CancelCaseBtn w-100" data-name="@name" data-id="@item.reqClientId">Cancel Case</a>
                </div>
                <div class="col-5 m-2">
                    <a class="btn btn-success w-100" href="@Url.Action("ViewNote", new {reqClientId = item.reqClientId})">View Notes</a>
                </div>
                <div class="col-5 m-2">
                    <a class="btn BlockCaseBtn btn-danger w-100" data-name="@name" data-id="@item.reqClientId">Block Patient</a>
                </div>
                <div class="col-5 m-2">
                    <a href="mailto: @item.Email" class="w-100 btn btn-success rounded">
                        Email
                    </a>
                </div>
            </div>
        </div>
    }
</div>

@*Pagination*@

<partial name="_PaginationPart" />

<script>
    $(".CancelCaseBtn").click(function () {
        $("#PatientName").text("Patient Name:" + $(this).data('name'));
        $("#reqClientId").val($(this).data('id'));
        $("#cancelModel").modal('show');
    })

    $(".BlockCaseBtn").click(function () {
        $("#BloackPatientName").text("Patient Name:" + $(this).data('name'));
        $("#blockreqClientId").val($(this).data('id'));
        $("#BlockModel").modal('show');
    })

    $(".AssignCaseBtn").click(function () {
        $("#AssignreqClientId").val($(this).data('id'));
        $("#AssignModel").modal('show');
    })

    $(".ProviderChatBtn").click(function () {
        var reqclientid = $(this).data('id');
        $.ajax({
            url: '/AdminDashboard/ChatWithProvider',
            type: 'GET',
            data: {
                reqclientid : reqclientid
            },
            success: function(res){
                $("#myChatBox").html(res);
                openChatBox();
            }
        })
    })


    $(".pageBtn").click(function () {
        var reqType = $("#filterReqType").val()
        var pageNumber = $(this).data('page');
        var ReginoId = $("#RegionFilter").val()
        var Name = $("#search").val();

        $("#pagenumber").val(pageNumber);

        $.ajax({
            url: '/AdminDashboard/PartialTable',
            type: 'POST',
            data: { Name: Name, status: 1, reqType: reqType, pageNumber: pageNumber },
            success: function (result) {
                $('#PartialTable').html(result);
            },
            error: function (error) {
                console.log(error);
                alert('error fetching details')
            },
        })
    })
</script>