<table class="table table-responsive d-none d-md-table">
    <thead>
        <tr class="table-secondary">
            <td>Stop Notification</td>
            <td>Provider Name</td>
            <td>Role</td>
            <td>On Call Status</td>
            <td>Status</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.providerTableViewModels)
        {
            if (item.isDeleted == false || item.isDeleted == null)
            {
                <tr>
                    <td>

                        @if (item.isNotiOff)
                        {
                            <input class="isNotyBox" type="checkbox" onclick="stopNoty(@item.Physicianid)" checked />
                        }
                        else
                        {
                            <input class="isNotyBox" type="checkbox" onclick="stopNoty(@item.Physicianid)" />
                        }
                    </td>
                    <td>@item.Firstname @item.Lastname</td>
                    <td>@item.Roleid</td>
                    <td>@item.onCallStatus</td>
                    <td>@item.Status</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary ContactProvider" data-email="@item.Email" data-mobile="@item.Mobile">Contact</button>
                        <a asp-action="EditProvider" asp-controller="AdminDashboard" asp-route-Physicianid="@item.Physicianid" class="btn btn-outline-primary">Edit</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@*MobileView*@

<div class="d-md-none mobileView w-100">
    @foreach (var item in Model.providerTableViewModels)
    {
        var name = item.Firstname + "," + item.Lastname;
        <div class="shadow m-1 p-2 w-100" data-bs-toggle="collapse" href="#@item.Physicianid" role="button" aria-expanded="false">

            <div class="d-flex mb-2">
                @if (item.isNotiOff)
                {
                    <input class="isNotyBox" type="checkbox" onclick="stopNoty(@item.Physicianid)" />
                }
                else
                {
                    <input class="isNotyBox" type="checkbox" onclick="stopNoty(@item.Physicianid)" checked />
                }
                <span class="ms-1">@item.Firstname @item.Lastname</span>
            </div>
            <div class="d-flex justify-content-between">
                <span class="w-50">
                    On Call Status: @item.onCallStatus
                </span>
            </div>
        </div>
        <div class="collapse shadow m-1 p-2" id="@item.Physicianid">
            <p>Role: @item.Roleid</p>
            <p>Status: @item.Status</p>
            <div class="float-end">
                <button type="button" class="btn btn-outline-primary ContactProvider" data-email="@item.Email" data-mobile="@item.Mobile">Contact</button>
                <a asp-action="EditProvider" asp-controller="AdminDashboard" asp-route-Physicianid="@item.Physicianid" class="btn btn-outline-primary">Edit</a>
            </div><br /> <br />
        </div>
    }
</div>
@section AdminScript{

    <script>
        $(".ContactProvider").click(function () {
            $("#Email").val($(this).data('email'));
            $("#PhoneNumber").val($(this).data('mobile'));
            $("#ContactProviderModal").modal('show');
        });
    </script>
}