@model PaginatedList<UserAccessTable>;
<table class="table table-responsive">
    <thead>
        <tr class="table-secondary">
            <td>Account Type</td>
            <td>Account  POC</td>
            <td>Phone</td>
            <td>Status</td>
            <td>Open Request</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.AccountType</td>
                <td>@item.UserName</td>
                <td>@item.Phone</td>
                <td>@item.status</td>
                <td>
                   @item.openReq
                </td>
                <td>
                    @if(item.AccountTypeId == 1)
                    {
                        <a class="btn btn-outline-primary" asp-action="EditAdmin" asp-route-id="@item.userId">Edit</a>
                    }else if(item.AccountTypeId == 2)
                    {
                        <a class="btn btn-outline-primary" asp-action="EditProvider" asp-route-Physicianid="@item.userId">Edit</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@*Pagination*@

<partial name="_PaginationPart" />

<script>
    $(".pageBtn").click(function () {
        var pageNumber = $(this).data('page');
        var AccountType = $("#AccountType").val();
        var RoleId = $("option:selected", "#AccountType").attr('id');
        $.ajax({
            url: '/AdminDashboard/UserAccessTable',
            type: 'POST',
            data: {
                pagenumber: pageNumber, accountType: AccountType, RoleId: RoleId
            },
            success: function (result) {
                $('#UserAccessTable').html(result);
            },
            error: function (error) {
                console.log(error);
                alert('error fetching details')
            },
        })
    })
</script>