@model CreateAdminViewModel;
@{
    ViewData["Title"] = "Create Provider";
    Layout = "_adminLayout";
}
<div class="">
    <div class="container d-flex justify-content-between mt-4" style="max-width:1000px">
        <h4>
            Edit Admin Account
        </h4>
        <a href="@Url.Action("UserAccess","AdminDashboard")" class="btn btn-outline-primary m-2 text-decoration-none float-end"
           id="back-btn">
            <img src="~/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" class="img-fluid" alt="">
            Back
        </a>
    </div>
    <div class="d-grid justify-content-center mt-4">
        <div class="shadow">
            <form method="post" asp-action="EditAdmin" asp-controller="AdminDashboard" id="CreateProviderForm" class="viewCaseForm form-floating  patient-request-form p-3">
                <input asp-for="CountryFlag" id="CountryFlag" hidden />
                <h5>Account Information</h5>
                <div class="row g-2 m-1">
                    <div class="col-md">
                        <div class="form-floating">
                            <input asp-for="Adminid" hidden />
                            <input asp-for="Username" type="text" class="form-control" id="userName" placeholder="" disabled>
                            <label for="">User Name</label>
                        </div>
                        <span asp-validation-for="Username"></span>
                    </div>
                    <div class="col-md">
                        <div class="form-floating phone-div w-100 h-100 ">
                            <select asp-for="Roleid" class="form-select mb-3" id="role">
                                @foreach (var item in Model.Rolemenus)
                                {
                                    <option value="@item.Roleid">@item.Name</option>
                                }
                            </select>
                            <label for="">Role</label>
                        </div>
                        <span asp-validation-for="Roleid" class="text-danger"></span>
                    </div>
                </div>

                <h5>Administrator Information</h5>

                <div class="row g-2 m-1">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Firstname" type="text" class="form-control firstnameInput" placeholder="">
                            <label for="">First Name</label>
                        </div>
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Lastname" type="text" class="form-control firstnameInput" placeholder="">
                            <label for="">Last Name</label>
                        </div>
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Email" type="email" class="form-control emailInput" placeholder="name@example.com">
                            <label for="">Email</label>
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Email" type="email" class="form-control emailInput" placeholder="name@example.com">
                            <label for="">Confirm Email</label>
                        </div>
                        <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating phone-div w-100 h-100" id="phoneDiv">
                            <input asp-for="Mobile" type="tel" class="patientPhone form-control w-100 h-100" id="patientPhone" placeholder="">
                            <label for="">Phone</label>
                        </div>
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">

                            <select class="form-select selectpicker m-0 p-0" asp-for="SelectedRegion" data-live-search="true" multiple>
                                @foreach (var i in Model.CheckedRegion)
                                {
                                    if (i.Checked)
                                    {
                                        <option value="@i.Id" selected>@i.value</option>
                                    }
                                    else
                                    {
                                        <option value="@i.Id">@i.value</option>
                                    }
                                }
                            </select>
                        </div>
                        <span asp-validation-for="SelectedRegion" class="text-danger"></span>
                    </div>
                </div><br />
                <h5>Mailing & Billing Information</h5>
                <div class="row g-2 m-1">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Address1" type="text" class="form-control" placeholder="">
                            <label for="">Address1</label>
                        </div> 
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Address2" type="text" class="form-control" placeholder="">
                            <label for="floatingSelectGrid">Address2</label>
                        </div>
                        <span asp-validation-for="Address2" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="City" type="text" class="form-control" placeholder="">
                            <label for="">City</label>
                        </div>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating phone-div w-100 h-100 ">
                            <select class="form-select" asp-for="Regionid">
                                @foreach (var i in Model.Regions)
                                {
                                    <option value="@i.Regionid">@i.Name</option>
                                }
                            </select>
                            <label for="">State</label>
                        </div>
                        <span asp-validation-for="Regionid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Zip" type="text" class="form-control zipcode" placeholder="">
                            <label for="">Zip</label>
                        </div>
                        <span asp-validation-for="Zip" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating phone-div w-100 h-100 " id="phoneDiv2">
                            <input asp-for="Altphone" type="tel" class="patientPhone form-control w-100 h-100" id="otherPhone" placeholder="">
                            <label for="">Phone</label>
                        </div>
                        <span asp-validation-for="Altphone" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <button type="submit" id="CreateAdminBtn" class="btn btn-success float-end">Save</button>
                <br />
            </form>
        </div>
    </div>
</div>

@section AdminScript {
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
    </script>
    <script>
        $("#CreateAdminBtn").click(function () {
            $("#CountryFlag").val($(".iti__selected-dial-code").text());
        })  
    </script>
}