@model EditProvider;
@{
    ViewData["Title"] = "Edit Provider";
    Layout = "_adminLayout";
}


<div class="">
    <div class="container d-flex justify-content-between mt-4" style="max-width:1000px">
        <h4>
            Edit Physician Account
        </h4>
        <a href="@Url.Action("UserAccess","AdminDashboard")" class="btn btn-outline-primary m-2 text-decoration-none float-end"
           id="back-btn">
            <img src="~/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" class="img-fluid" alt="">
            Back
        </a>
    </div>
    <div class="d-grid justify-content-center shadow mt-4">
        <div class="shadow">
            <form method="post" asp-action="EditProvider" asp-route-formid="1" asp-controller="AdminDashboard" class="viewCaseForm form-floating  patient-request-form p-3">
                <input id="Physicianid" asp-for="Physicianid" hidden />
                <h5>Account Information</h5>
                <div class="row g-2 m-1">
                    <div class="col-md">
                        <div class="form-floating">
                            <input asp-for="UserName" type="text" class="form-control" id="userName" placeholder="" disabled>
                            <label for="">User Name</label>
                        </div>
                        <span></span>
                    </div>
                    <div class="col-md">
                        <div class="input-div form-floating mb-3 d-flex border rounded">
                            <input asp-for="Password" type="password" class="form-control" id="Password" placeholder="Password" disabled>
                            <label asp-for="Password" for="floatingPassword">Password</label>
                        </div>
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                </div>

                <div class="row g-2 m-1">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <select asp-for="Status" class="form-select mb-3" id="status" disabled>
                                @foreach (var item in Model.Statuses)
                                {
                                    if (Model.Status == item.StatusId)
                                    {
                                        <option value="@item.StatusId" selected>@item.StatusName</option>
                                    }
                                    else
                                    {
                                        <option value="@item.StatusId">@item.StatusName</option>
                                    }
                                }
                            </select>
                            <label for="">status</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating phone-div w-100 h-100 ">
                            <select asp-for="Roleid" class="form-select mb-3" id="role" disabled>
                                @foreach (var item in Model.Role)
                                {
                                    if (item.Isdeleted != true)
                                    {
                                        if (Model.Roleid == item.Roleid)
                                        {
                                            <option value="@item.Roleid" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Roleid">@item.Name</option>
                                        }
                                    }
                                }
                            </select>
                            <label for="">Role</label>
                        </div>
                    </div>
                </div>
                <button type="button" id="ResetPassBtn" class="btn btn-outline-primary float-end me-1">Reset Password</button>
                <button type="button" id="saveBtn00" class="btn btn-outline-primary float-end me-1 d-none">Save Password</button>
                <button type="reset" id="editBtn0" class="btn btn-primary float-end me-1">Edit</button>
                <button type="reset" id="cancelBtn0" class="btn btn-outline-danger float-end me-1 d-none">Cancel</button>
                <button type="submit" id="saveBtn0" class="btn btn-outline-primary float-end me-1 d-none">Save </button><br />
            </form>

            <form method="post" id="EditProviderForm" asp-action="EditProvider" asp-controller="AdminDashboard" class="viewCaseForm form-floating  patient-request-form p-3">
                <input asp-for="CountryFlag" class="CountryFlag" hidden />
                <h5>Physician Information</h5>
                <input asp-for="Physicianid" hidden />
                <fieldset id="fieldset1" disabled>

                    <div class="row g-2 m-1">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Firstname" type="text" class="form-control" placeholder="">
                                <label for="">First Name</label>
                            </div>
                            <span class="text-danger" asp-validation-for="Firstname"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Lastname" type="text" class="form-control" placeholder="">
                                <label for="">Last Name</label>
                            </div>
                            <span class="text-danger" asp-validation-for="Lastname"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com">
                                <label for="">Email</label>
                            </div>
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating phone-div w-100 h-100 ">
                                <input asp-for="Mobile" type="tel" class="patientPhone form-control w-100 h-100" id="patientPhone" placeholder="">
                                <label for="">Phone</label>
                            </div>
                            <span class="text-danger" asp-validation-for="Mobile"></span>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Medicallicense" type="text" class="form-control" placeholder="">
                                <label for="">Medical License#</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Npinumber" type="text" class="form-control" placeholder="">
                                <label for="">NPI Number</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Syncemailaddress" type="email" class="form-control" placeholder="">
                                <label for="">Synchronization Email Address</label>
                            </div>
                            <span class="text-danger" asp-validation-for="Syncemailaddress"></span>
                        </div>
                        <div class="col-md-6">
                            <select class="form-select selectpicker m-0 p-0" asp-for="selectedRegion" data-live-search="true" multiple>
                                @foreach (var i in Model.Region)
                                {
                                    if (i.Checked)
                                    {
                                        <option value="@i.Id" selected>@i.value</option>
                                    }
                                    else
                                    {
                                        <option value="@i.Id">@i.value</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </fieldset>
                <button type="reset" id="editBtn1" class="btn btn-primary float-end m-1">Edit</button>
                <button type="reset" id="cancelBtn1" class="btn btn-outline-danger float-end me-1 d-none">Cancel</button>
                <button type="submit" id="saveBtn1" class="btn btn-outline-primary float-end me-1 d-none">Save</button><br />
            </form>

            <form method="post" asp-action="EditProvider" asp-route-formid="3" asp-controller="AdminDashboard" class="viewCaseForm form-floating  patient-request-form p-3">
                <h5>Mailing & Billing Information</h5>
                <input asp-for="Physicianid" hidden />
                <input asp-for="CountryFlag" class="CountryFlag" hidden />
                <fieldset disabled id="fieldset2">

                    <div class="row g-2 m-1">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Address1" type="text" class="form-control" placeholder="">
                                <label for="">Address1</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Address2" type="text" class="form-control" placeholder="">
                                <label for="floatingSelectGrid">Address2</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="City" type="text" class="form-control" placeholder="">
                                <label for="">City</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating phone-div w-100 h-100 ">
                                <select asp-for="State" class="form-select">
                                    <option>guj</option>
                                    <option>raj</option>
                                    <option>md</option>
                                </select>
                                <label for="">State</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Zip" type="text" class="form-control" placeholder="">
                                <label for="">Zip</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating phone-div w-100 h-100 ">
                                <input asp-for="Altphone" type="tel" class="patientPhone form-control w-100 h-100" id="otherPhone" placeholder="">
                                <label for="">Phone</label>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <button type="reset" id="editBtn2" class="btn btn-primary float-end m-1">Edit</button>
                <button type="reset" id="cancelBtn2" class="btn btn-outline-danger float-end m-1 d-none">Cancel</button>
                <button type="submit" id="saveBtn2" class="btn btn-outline-primary float-end m-1 d-none">Save</button><br />

            </form>

            <form method="post" asp-action="EditProvider" asp-route-formid="4" asp-controller="AdminDashboard" enctype="multipart/form-data" class="viewCaseForm form-floating  patient-request-form p-3">
                <h5>Proivder Profile</h5>
                <input asp-for="Physicianid" hidden />
                <fieldset disabled id="fieldset3">

                    <div class="row g-2 m-1">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Businessname" type="text" class="form-control" placeholder="">
                                <label for="">Business Name</label>
                            </div>
                            <span class="text-danger" asp-validation-for="Businessname"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Businesswebsite" type="text" class="form-control" placeholder="">
                                <label for="floatingSelectGrid">Business website</label>
                            </div>
                            <span class="text-danger" asp-validation-for="Businesswebsite"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group m-1 mb-3">
                                <input asp-for="PhyPhoto" type="file" id="actualFileBtn1" class="form-control" hidden>
                                <span id="fileChoosen1" class="form-control">Select Photo</span>
                                <label class="input-group-text btn btn-primary" id="uploadFileLabel1" for="actualFileBtn1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                                        <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                    </svg>
                                    Upload
                                </label>
                            </div>
                            <br />
                            <img width="150px" height="150px" src="/uploadedFiles/ProviderData/@Model.Physicianid/@Model.Photo" />
                        </div>
                        <div class="col-md-4">
                            <div class="input-group m-1 mb-3">
                                <input asp-for="PhySign" type="file" id="actualFileBtn2" class="form-control" hidden>
                                <span id="fileChoosen2" class="form-control">Select Signature</span>
                                <label class="input-group-text btn btn-primary" id="uploadFileLabel2" for="actualFileBtn2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                                        <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                    </svg>
                                    Upload
                                </label>
                            </div>
                            <br />
                            <img width="150px" height="150px" src="/uploadedFiles/ProviderData/@Model.Physicianid/@Model.Signature" />
                        </div>
                        <div class="col-md-2">
                            <div class="input-group m-1 mb-3">

                                <button class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                    </svg>
                                    Create
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating m-1 form-div">
                                <textarea asp-for="Adminnotes" class="form-control" placeholder="Leave a comment here" id="addNote"
                                          style="height: 100px"></textarea>
                                <label for="">Admin Notes</label>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <button type="reset" id="editBtn3" class="btn btn-primary float-end m-1">Edit</button>
                <button type="reset" id="cancelBtn3" class="btn btn-outline-danger float-end m-1 d-none">Cancel</button>
                <button type="submit" id="saveBtn3" class="btn btn-outline-primary float-end m-1 d-none">Save</button><br />
                <hr />
            </form>

            <form method="post" asp-action="EditProvider" asp-route-formid="5" asp-controller="AdminDashboard" enctype="multipart/form-data" class="viewCaseForm form-floating  patient-request-form p-3">
                <h5>Onboarding</h5>
                <input  asp-for="Physicianid" hidden />
                <div class="row g-2 m-1">

                    <div class="col-4">
                        <input asp-for="Isagreementdoc" type="checkbox" id="Isagreementdoc" />
                        <label asp-for="Isagreementdoc">Indeoendent Contractor Agreement </label>
                    </div>
                    <div class="col-auto">
                        <input asp-for="agreementdoc" type="file" id="agreementdoc" class="form-control" hidden>
                        <label class="input-group-text btn btn-primary" id="uploadFileLabel1" for="agreementdoc">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                                <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                            </svg>
                            Upload
                        </label>
                        @if (Model.Isagreementdoc)
                        {
                            <button type="button" class="btn btn-outline-primary viewFile" data-id="@Model.agreementdoc.FileName.ToString()">View</button>
                        }
                    </div>
                </div>
                <div class="row g-2 m-1">

                    <div class="col-4">
                        <input asp-for="Isbackgrounddoc" type="checkbox" id="Isbackgrounddoc" />
                        <label asp-for="Isbackgrounddoc">Background Check </label>
                    </div>
                    <div class="col-auto">
                        <input asp-for="backgrounddoc" id="backgrounddoc" type="file" class="form-control" hidden>
                        <label class="input-group-text btn btn-primary" id="uploadFileLabel1" for="backgrounddoc">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                                <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                            </svg>
                            Upload
                        </label>
                        @if (Model.Isbackgrounddoc)
                        {
                            <button type="button" class="btn btn-outline-primary viewFile" data-id="@Model.backgrounddoc.FileName.ToString()">View</button>
                        }
                    </div>
                </div>
                <div class="row g-2 m-1">

                    <div class="col-4">
                        <input asp-for="Istrainingdoc" type="checkbox" id="Istrainingdoc" />
                        <label asp-for="Istrainingdoc">Hippa Compliance</label>
                    </div>
                    <div class="col-auto">
                        <input asp-for="trainingdoc" id="trainingdoc" type="file" class="form-control" hidden>
                        <label class="input-group-text btn btn-primary" id="uploadFileLabel1" for="trainingdoc">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                                <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                            </svg>
                            Upload
                        </label>
                        @if (Model.Istrainingdoc)
                        {
                            <button type="button" class="btn btn-outline-primary viewFile" data-id="@Model.trainingdoc.FileName.ToString()">View</button>
                        }
                    </div>
                </div>
                <div class="row g-2 m-1">

                    <div class="col-4">
                        <input asp-for="Isnondisclosuredoc" type="checkbox" id="Isnondisclosuredoc" />
                        <label asp-for="Isnondisclosuredoc">Non Disclouser Agreement</label>
                    </div>
                    <div class="col-auto">
                        <input asp-for="nondisclosuredoc" id="nondisclosuredoc" type="file" class="form-control" hidden>
                        <label class="input-group-text btn btn-primary" id="uploadFileLabel1" for="nondisclosuredoc">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                                <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                            </svg>
                            Upload
                        </label>
                        @if (Model.Isnondisclosuredoc)
                        {
                            <button type="button" class="btn btn-outline-primary viewFile" data-id="@Model.nondisclosuredoc.FileName.ToString()">View</button>
                        }
                    </div>
                </div>
                <div class="row g-2 m-1">

                    <div class="col-4">
                        <input asp-for="Islicensedoc" type="checkbox" id="Islicensedoc" />
                        <label asp-for="Islicensedoc">License Document  </label>
                    </div>
                    <div class="col-auto">
                        <input asp-for="licensedoc" id="licensedoc" type="file" class="form-control" hidden>
                        <label class="input-group-text btn btn-primary" id="uploadFileLabel1" for="licensedoc">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                                <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                            </svg>
                            Upload
                        </label>
                        @if (Model.Islicensedoc)
                        {
                            <button type="button" class="btn btn-outline-primary viewFile" data-id="@Model.licensedoc.FileName.ToString()">View</button>
                        }
                    </div>
                </div>
                <hr />

                <a asp-action="DeletePhysician" asp-route-Physicianid="@Model.Physicianid" class="btn btn-danger float-end m-1">Delete Account</a>
                <button type="submit" class="btn btn-primary float-end m-1 ">Save</button><br />
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="showFile" src="/uploadedFiles/ProviderData/1/exclamation (1).svg" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section AdminScript {
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
    </script>


    <script>
        $("#saveBtn1").click(function () {
            $(".CountryFlag").val($(".iti__selected-dial-code").text());
        })
        $("#saveBtn2").click(function () {
            console.log($(".iti__selected-dial-code").text())
            $(".CountryFlag").val($(".iti__selected-dial-code").text());
        })
        // file upload
        const actualBtn1 = document.getElementById('actualFileBtn1');

        const fileChosen1 = document.getElementById('fileChoosen1');

        actualBtn1.addEventListener('change', function () {
            fileChosen1.textContent = this.files[0].name
        })
        const actualBtn2 = document.getElementById('actualFileBtn2');

        const fileChosen2 = document.getElementById('fileChoosen2');

        actualBtn2.addEventListener('change', function () {
            fileChosen2.textContent = this.files[0].name
        })

        var editBtn0 = document.getElementById("editBtn0");
        var saveBtn0 = document.getElementById("saveBtn0");
        var cancelBtn0 = document.getElementById("cancelBtn0");
        $("#editBtn0").click(function () {
            document.getElementById("status").disabled = false;
            document.getElementById("role").disabled = false;

            editBtn0.classList.add('d-none');
            cancelBtn0.classList.remove('d-none');
            saveBtn0.classList.remove('d-none');

        });

        $("#cancelBtn0").click(function () {
            document.getElementById("status").disabled = true;
            document.getElementById("role").disabled = true;

            editBtn0.classList.remove('d-none');
            cancelBtn0.classList.add('d-none');
            saveBtn0.classList.add('d-none');

        });


        var editBtn1 = document.getElementById("editBtn1");
        var saveBtn1 = document.getElementById("saveBtn1");
        var cancelBtn1 = document.getElementById("cancelBtn1");
        var ResetPassBtn = document.getElementById("ResetPassBtn");

        $("#editBtn1").click(function () {
            document.getElementById("fieldset1").disabled = false;

            editBtn1.classList.add('d-none');
            cancelBtn1.classList.remove('d-none');
            saveBtn1.classList.remove('d-none');

        });

        $("#cancelBtn1").click(function () {
            document.getElementById("fieldset1").disabled = true;

            editBtn1.classList.remove('d-none');
            cancelBtn1.classList.add('d-none');
            saveBtn1.classList.add('d-none');

        });

        var editBtn2 = document.getElementById("editBtn2");
        var saveBtn2 = document.getElementById("saveBtn2");
        var cancelBtn2 = document.getElementById("cancelBtn2");

        $("#editBtn2").click(function () {
            document.getElementById("fieldset2").disabled = false;

            editBtn2.classList.add('d-none');
            cancelBtn2.classList.remove('d-none');
            saveBtn2.classList.remove('d-none');

        });

        $("#cancelBtn2").click(function () {
            document.getElementById("fieldset2").disabled = true;

            editBtn2.classList.remove('d-none');
            cancelBtn2.classList.add('d-none');
            saveBtn2.classList.add('d-none');

        });

        var editBtn3 = document.getElementById("editBtn3");
        var saveBtn3 = document.getElementById("saveBtn3");
        var cancelBtn3 = document.getElementById("cancelBtn3");

        $("#editBtn3").click(function () {
            document.getElementById("fieldset3").disabled = false;

            editBtn3.classList.add('d-none');
            cancelBtn3.classList.remove('d-none');
            saveBtn3.classList.remove('d-none');

        });

        $("#cancelBtn3").click(function () {
            document.getElementById("fieldset3").disabled = true;

            editBtn3.classList.remove('d-none');
            cancelBtn3.classList.add('d-none');
            saveBtn3.classList.add('d-none');

        });


        //Reset Password Enable
        var saveBtn00 = document.getElementById("saveBtn00");
        $("#ResetPassBtn").click(function () {
            document.getElementById("Password").disabled = false;
            saveBtn00.classList.remove('d-none');
            ResetPassBtn.classList.add('d-none');
        })

        //Passowrd Update
        $("#saveBtn00").click(function () {
            var pass = $("#Password").val();
            var Physicianid = $("#Physicianid").val();

            $.ajax({
                url: '/AdminDashboard/ResetPhysicianPass',
                type: 'POST',
                data: {
                    pass: pass, Physicianid: Physicianid
                },
                success: function () {
                    location.reload();
                }
            })
        })

        ////Region Updation
        //$("#saveBtn1").click(function () {
        //    var selectedRegion = [];
        //    var Physicianid = $("#Physicianid").val();
        //    $(".regionCheckbox").each(function () {

        //        var checkboxdata = {
        //            Id: $(this).attr('id'),
        //            value: $(this).val(),
        //            Checked: $(this).is(':checked')
        //        };

        //        selectedRegion.push(checkboxdata);
        //    })

        //    $.ajax({
        //        url: '/AdminDashboard/PhysicianRegionUpdate',
        //        type: 'POST',
        //        data: { selectedRegion: selectedRegion, Physicianid: Physicianid },
        //    })

        //    $("#EditProviderForm").submit();
        //})



        $(document).ready(function () {


            // Function to handle checkbox and file input interaction
            function handleCheckboxFileInput(checkboxId, fileId) {
                const $checkbox = $('#' + checkboxId);
                const $fileInput = $('#' + fileId);

                // Add event listener for file input change
                $fileInput.on('change', function () {
                    if (this.files.length > 0) {
                        $checkbox.prop('checked', true);
                    } else {
                        $checkbox.prop('checked', false);
                    }
                });

                // Add event listener for checkbox change
                $checkbox.on('change', function () {
                    if ($(this).prop('checked')) {
                        if ($fileInput[0].files.length === 0) {
                            alert('Please upload a file before checking the checkbox');
                            $(this).prop('checked', false);
                        }
                    } else {
                        $fileInput.val(''); // Clear the file input value if checkbox is unchecked
                    }
                });
            }

            // Call the function for each set of checkboxes and file inputs
            handleCheckboxFileInput('Isagreementdoc', 'agreementdoc');
            handleCheckboxFileInput('Isbackgrounddoc', 'backgrounddoc');
            handleCheckboxFileInput('Istrainingdoc', 'trainingdoc');
            handleCheckboxFileInput('Isnondisclosuredoc', 'nondisclosuredoc');
            handleCheckboxFileInput('Islicensedoc', 'licensedoc');
        });


        $(".viewFile").click(function () {
            var Physicianid = $("#Physicianid").val();
            $("#showFile").attr('src', '/uploadedFiles/ProviderData/' + Physicianid + "/" + $(this).data('id'));

            $("#fileModal").modal('show');
        })
    </script>
}