@model Profile;
@{
    ViewData["Title"] = "Admin Profile";
    Layout = "_adminLayout";
}
<div class="">
    <div class="container d-flex justify-content-between mt-4" style="max-width:1000px">
        <h4>
            My Profile
        </h4>
        <a href="@Url.Action("Dashboard", "AdminDashboard")" class="btn btn-outline-primary m-2 text-decoration-none float-end"
           id="back-btn">
            <img src="~/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" class="img-fluid" alt="">
            Back
        </a>
    </div>
    <div class="container-fluid d-flex justify-content-center mt-4">
        @if (ViewBag.error != null)
        {
            <span>@ViewBag.error</span>
        }
        @if (ViewBag.success != null)
        {
            <span>@ViewBag.success</span>
        }
        <form method="post" asp-action="MyProfile" class="viewCaseForm form-floating shadow patient-request-form p-3">
            <input id="adminId" asp-for="Adminid" hidden/>
            <h5>Account Information</h5>
            <div class="row g-2 m-1">
                <div class="col-md">
                    <div class="form-floating">
                        <input asp-for="UserName" type="text" class="form-control" id="userName" placeholder="" disabled>
                        <label for="">User Name</label>
                    </div>
                    <span ></span>
                </div>
                <div class="col-md">
                    <div class="input-div form-floating mb-3 d-flex border rounded">
                        <input asp-for="Password" type="password" class="form-control" id="Password" placeholder="Password" disabled>
                        <label asp-for="Password" for="floatingPassword">Password</label>
                    </div>
                    
                </div>
            </div>

            <div class="row g-2 m-1">
                <div class="col-md-6">
                    <div class="form-floating">
                        <select asp-for="Status" class="form-select mb-3" id="status" disabled>
                            <option>Active</option>
                            <option>Out</option>
                            <option>Died</option>
                        </select>
                        <label for="">status</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating phone-div w-100 h-100 " >
                        <select asp-for="Roleid" class="form-select mb-3" id="role" disabled>
                            <option>Active</option>
                            <option>Out</option>
                            <option>Died</option>
                        </select>   
                        <label for="">Role</label>
                    </div>
                </div>
            </div>
            <button type="button" id="ResetPassBtn" class="btn btn-outline-primary float-end m-1">Reset Password</button>
            <button type="button" id="saveBtn0" class="btn btn-outline-primary float-end me-1 d-none">Save</button><br />
            <h5>Administration Information</h5>
            <fieldset id="fieldset1" disabled>

            <div class="row g-2 m-1" >
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Firstname" type="text" class="form-control" placeholder="" >
                        <label for="">First Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Lastname" type="text" class="form-control" placeholder="" >
                        <label for="floatingSelectGrid">Last Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com" >
                        <label for="">Email</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="ConfirmEmail" type="email" class="form-control" placeholder="name@example.com" >
                        <label for="">Confirm Email</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating phone-div w-100 h-100 ">
                        <input asp-for="Mobile" type="tel" class="patientPhone form-control w-100 h-100" placeholder="" >
                        <label for="">Phone</label>
                    </div>
                </div>
                <div class="col-md-6">
                        @foreach(var item in Model.Region)
                        {
                            <input type="checkbox" id="@item.Regionid" name="@item.Regionid" value="@item.Regionid"/>
                            <label for="@item.Regionid">@item.Abbreviation</label>
                        }
                    </div>
            </div>
            </fieldset>
            <button type="reset" id="editBtn1" class="btn btn-primary float-end m-1">Edit</button>
            <button type="reset" id="cancelBtn1" class="btn btn-outline-danger float-end me-1 d-none">Cancel</button> 
            <button type="submit" id="saveBtn1" class="btn btn-outline-primary float-end me-1 d-none">Save</button><br />

            <h5>Mailing & Billing Information</h5>
            <fieldset disabled id="fieldset2">

            <div class="row g-2 m-1">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Address1" type="text" class="form-control" placeholder="" >
                        <label for="">Address1</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Address2" type="text" class="form-control" placeholder="" >
                        <label for="floatingSelectGrid">Address2</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="City" type="text" class="form-control" placeholder="" >
                        <label for="">City</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating phone-div w-100 h-100 ">
                        <select asp-for="Regionid" class="form-select" >
                            <option>guj</option>
                            <option>raj</option>
                            <option>md</option>
                        </select>
                        <label for="">State</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Zip" type="text" class="form-control" placeholder="" >
                        <label for="">Zip</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating phone-div w-100 h-100 ">
                        <input asp-for="Altphone" type="tel" class="patientPhone form-control w-100 h-100" placeholder="" >
                        <label for="">Phone</label>
                    </div>
                </div>
            </div>

            </fieldset>
            <button type="reset"  id="editBtn2" class="btn btn-primary float-end m-1">Edit</button>
            <button type="reset" id="cancelBtn2" class="btn btn-outline-danger float-end m-1 d-none">Cancel</button>
            <button type="submit" id="saveBtn2" class="btn btn-outline-primary float-end m-1 d-none">Save</button><br />
        </form>
    </div>
</div>

@section AdminScript {
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
    </script>
    <script>
        var editBtn1 = document.getElementById("editBtn1");
        var saveBtn1 = document.getElementById("saveBtn1");
        var cancelBtn1 = document.getElementById("cancelBtn1");
        var ResetPassBtn = document.getElementById("ResetPassBtn");

        $("#editBtn1").click(function(){
            document.getElementById("fieldset1").disabled = false;
            document.getElementById("userName").disabled = false;
            document.getElementById("status").disabled = false;
            document.getElementById("role").disabled = false;

            editBtn1.classList.add('d-none');
            cancelBtn1.classList.remove('d-none');
            saveBtn1.classList.remove('d-none');
            
        });

        $("#cancelBtn1").click(function () {
            document.getElementById("fieldset1").disabled = true;
            document.getElementById("userName").disabled = true;
            document.getElementById("status").disabled = true;
            document.getElementById("role").disabled = true;

            editBtn1.classList.remove('d-none');
            cancelBtn1.classList.add('d-none');
            saveBtn1.classList.add('d-none');

        });

        var editBtn2 = document.getElementById("editBtn2");
        var saveBtn2 = document.getElementById("saveBtn2");
        var cancelBtn2 = document.getElementById("cancelBtn2");

        $("#editBtn2").click(function () {
            document.getElementById("fieldset2").disabled = false;

            editBtn2.classList.add('d-none');
            cancelBtn2.classList.remove('d-none');
            saveBtn2.classList.remove('d-none');

        });

        $("#cancelBtn2").click(function () {
            document.getElementById("fieldset2").disabled = true;

            editBtn2.classList.remove('d-none');
            cancelBtn2.classList.add('d-none');
            saveBtn2.classList.add('d-none');

        });

        var saveBtn0 = document.getElementById("saveBtn0");

        $("#ResetPassBtn").click(function(){
            document.getElementById("Password").disabled = false;
            saveBtn0.classList.remove('d-none');
            ResetPassBtn.classList.add('d-none');
        })

        $("#saveBtn0").click(function(){
            var pass = $("#Password").val();
            var adminId = $("#adminId").val();
            
            $.ajax({
                url: '/AdminDashboard/ResetPass',
                type: 'POST',
                data: {
                    pass: pass, adminId: adminId
                },
            })
        })
    </script>
}