@model HalloDoc.DataAccess.ViewModel.AdminViewModel.viewCaseViewModel;
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "_adminLayout";
}
<div class="tab-pane fade show" id="tab2">
    <div class="container d-flex justify-content-between mt-4" style="max-width:1000px">
        <h4>New Request 
            <span class="border bg-success rounded-pill h-50 fs-6 p-1 text-white">Patient</span>
        </h4>
        <a href="@Url.Action("Dashboard", "AdminDashboard")" class="btn btn-secondary m-2 text-decoration-none float-end"
           id="back-btn">
            <img src="~/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" class="img-fluid" alt="">
            Back
        </a>
    </div>
    <div class="container-fluid d-flex justify-content-center mt-4">
        @if(ViewBag.error != null)
        {   
        <span>@ViewBag.error</span>
        }
        @if (ViewBag.success != null)
        {
            <span>@ViewBag.success</span>
        }
        <form  method="post" asp-action="ViewCase" class="viewCaseForm form-floating shadow patient-request-form p-3">

                <h5>Patient Information</h5>
                <input name="Requestclientid" value="@Model.Requestclientid" type="hidden" disabled/>
                <div>
                    <span style="font-size: 10px;">Confirmation Number</span><br />
                    <span class="fw-bold" style="color: #10bce9" >@Model.confirmationNumber</span>
                </div>
                <div class="form-floating m-1 form-div">
                    <textarea asp-for="Notes" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                          style="height: 100px" disabled></textarea>
                    <label for="">Patient Note</label>
                </div>
                <div class="row g-2 m-1">
                    <div class="col-md">
                        <div class="form-floating">
                            <input asp-for="Firstname" type="text" class="form-control" placeholder="" disabled>
                            <label for="">First Name</label>
                        </div>
                        <span asp-validation-for="Firstname"></span>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                        <input asp-for="Lastname" type="text" class="form-control" placeholder="" disabled>
                            <label for="floatingSelectGrid">Last Name</label>
                        </div>
                        <span asp-validation-for="Lastname"></span>
                    </div>
                </div>

                <div class="row g-2 m-1">
                    <div class="col-md-6">
                        <div class="form-floating">
                        <input asp-for="Strmonth" type="date" class="form-control" placeholder="" disabled>
                            <label for="">Date Of Birth</label>
                        </div>
                        <span asp-validation-for="Strmonth"></span>
                    </div>
                    <div class="col-md-5">
                        <div class="form-floating phone-div w-100 h-100 ">
                        <input asp-for="Phonenumber" type="tel" class="patientPhone form-control w-100 h-100 inputDis" placeholder="" disabled>
                            <label for=""></label>
                        </div>
                        <span asp-validation-for="Phonenumber"></span>
                    </div>
                    <div class="col-md-1">
                        <a href="tel:@Model.Phonenumber" class="btn btn-secondary form-floating d-flex align-items-center justify-content-center rounded h-100 w-100" style="color: #10bce9 ; border: 1px solid #10bce9">
                            <img src="~/images/telephone.svg"/>
                        </a>
                    </div>
                </div>

                <div class="row g-2 m-1">
                    <div class="col-md-6">
                        <div class="form-floating">
                        <input asp-for="Email" id="checkEmail" type="email" class="form-control inputDis" placeholder="name@example.com" disabled>
                            <label for="">Email</label>
                        </div>
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="col-md-1">
                        <button type="button"  id="editBtn" class="btn btn-secondary form-floating w-100 h-100 float-end" enabled>Edit</button>
                    <button type="submit" id="submitBtn" class="btn btn-secondary form-floating w-100 h-100 float-end d-none" enabled>submit</button>
                    </div>
                    
                </div>

                <h5>Location Information</h5>
                <div class="row g-2 m-1">
                    <div class="col-md-6">
                        <div class="form-floating">
                        <input type="text" class="form-control" placeholder="" disabled>
                            <label for="">Regoin</label>
                        </div>
                        <span></span>
                    </div>
                    <div class="col-md-5">
                        <div class="form-floating">
                        <input type="text" class="form-control" placeholder="" disabled>
                            <label for="">Business Name/ Address</label>
                        </div>
                        <span></span>
                    </div>
                    <div class="col-md-1">
                    <a target="_blank" href="http://maps.google.com/?q= +@Model.State + @Model.City + @Model.Street" 
                    class="btn btn-secondary d-flex align-item-center justify-content-center rounded h-100 w-100" style="color: #10bce9 ; border: 1px solid #10bce9">
                        <img src="~/images/map.svg" />
                    </a>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="" disabled>
                            <label for="">Room #</label>
                        </div>
                        <span ></span>
                    </div>
                </div>
            <button type="reset" id="cancelBtn" class="btn btn-danger float-end m-1" data-bs-toggle="modal" data-bs-target="#cancelModel">Cancel</button>
            <a type="button" href="@Url.Action("ViewNote", new{reqClientId = Model.Requestclientid})" id="viewNoteBtn" class="btn btn-primary float-end m-1">View Notes</a>
            <button type="button" id="assignBtn" class="btn btn-primary float-end m-1">Assign</button>

            <div class="modal fade" id="cancelModel" tabindex="-1" aria-labelledby="newReqModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #01bce9; color:white;">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Cancellation</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="dropdown">
                                <form>
                                    <h5>Patient Name: @Model.Firstname @Model.Lastname</h5>
                                    <input id="reqClientId" value="@Model.Requestclientid"/>
                                    <select class="form-select form-select mb-3 CaseTag" id="CaseTag-@Model.Requestclientid" aria-label="Large select example">
                                        <option selected>Reasons for Cancellation</option>
                                        <option value="1">No Respone to call or text, left message</option>
                                        <option value="2">Cost Issue</option>
                                        <option value="3">Insurance Issue</option>
                                        <option value="4">Out of Service Area</option>
                                        <option value="5">Not appropriate for service</option>
                                        <option value="6">Referral to Clinic or Hospital</option>
                                    </select>
                                    <div class="form-floating m-1 form-div">
                                        <textarea class="form-control" placeholder="Leave a comment here" id="addNote"
                                                  style="height: 100px"></textarea>
                                        <label for="">Provide Additional Notes</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn"  id="CancelCaseBtn" style="background-color: #01bce9; color:white;">Confirm</button>
                            <button type="button" class="btn" style="color: #01bce9; border: #01bce9 1px solid;" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section AdminScript {
    <!-- js ans css for phone input -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
    </script>
    <script src="~/js/admin.js"></script>
    <script>
        var addNote = $("#addNote").val();
        var casetag = $(".CaseTag").val();
        var reqClientId = $("#reqClientId").val();
        $("#CancelCaseBtn").click(function () {
            $.ajax({
                url: '/AdminDashboard/CancelCase',
                type: 'POST',
                data: { reqClientId: reqClientId, addNote: addNote, CaseTag: casetag },
                success: function (result) {
                    $("CloseModal").click();
                },
                error: function (error) {
                    console.log(error);
                    alert('error fetching details')
                },
            })
        })
    </script>
    <script>
        // Edit Details buttons
        var submitBtn = document.getElementById("submitBtn");
        var editBtn = document.getElementById("editBtn");
        editBtn.addEventListener("click", () => {
            var input = document.querySelectorAll('.inputDis');
            input.forEach(function (input) {
                if(input.disabled){
                input.disabled = false;
                }else{
                    input.disabled = true;
                }
            });
            var txt = document.getElementById('floatingTextarea2');
            if(txt.disabled){
                txt.disabled = false;
            }else{
                txt.disabled = true;
            }
            editBtn.classList.add("d-none");
            submitBtn.classList.remove("d-none");
        });
    </script>
    
}