@model PaginatedList<EmailLogVM>;

<table class="table table-responsive d-none d-md-table">
    <thead>
        <tr class="table-secondary">
            <td>Recipient</td>
            <td>Action</td>
            <td>Role Name</td>
            <td>Email Id</td>
            <td>Create Date</td>
            <td>Sen tDate</td>
            <td>Sent </td>
            <td>Sent Tries</td>
            <td>Confirmation Number</td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items.Count == 0)
        {
            <tr>
                <td>No data found.</td>
            </tr>
        }
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Recipient</td>
                <td>@item.Action</td>
                <td>@item.Rolename</td>
                <td>@item.EmailId</td>
                <td>@item.CreateDate</td>
                    @if(item.SentDate == DateTime.MinValue)
                    {
                        <td>-</td>
                        }
                    else
                    {
                    <td>@item.SentDate</td>
                    }
                <td>@item.sent</td>
                <td>@item.sentTries</td>
                <td>@item.ConfirmationNumber</td>
            </tr>
        }
    </tbody>
</table>

@*MobileView*@

<div class="d-md-none mobileView w-100">
    @foreach (var item in Model.Items)
    {
        <div class="shadow m-1 p-2 w-100" data-bs-toggle="collapse" href="#@item.id" role="button" aria-expanded="false">
            <span>first</span>
            <p>Action Name: @item.Action</p>
            <p>Email: @item.EmailId</p>
        </div>
        <div class="collapse shadow m-1 p-2" id="@item.id">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>
                Role Name: @item.Rolename
            </p>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                </svg>
                Create Date: @item.CreateDate
            </p>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                </svg>
                Sent Date: @item.SentDate
            </p>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                </svg>
                Sent: @item.sent
            </p>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                </svg>
                Sent tries: @item.sentTries
            </p>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                </svg>
                Confirmation Number: @item.ConfirmationNumber
            </p>
        </div>
    }
</div>

@*Pagination*@

<partial name="_PaginationPart" />

<script>
    $(".pageBtn").click(function () {
        var pageNumber = $(this).data('page');
        var RoleId = $("#RoleId").val();
        var Phonenumber = $("#Phonenumber").val();
        var Email = $("#Email").val();
        var PatientName = $("#PatientName").val();
        var Date1 = $("#Date1").val();
        var Date2 = $("#Date2").val();
        $.ajax({
            url: '/RecordsMenu/EmailLogTable',
            type: 'POST',
            data: {
                pagenumber: pageNumber,
                RoleId: RoleId,
                Phonenumber: Phonenumber,
                Email: Email,
                PatientName: PatientName,
                Date1: Date1,
                Date2: Date2
            },
            success: function (data) {
                $("#EmailLogTable").html(data);
            },
            error: function (error) {
                console.log(error);
                alert('error fetching details')
            },
        })
    })
</script>   