@model PaginatedList<EmailLogVM>;

<table class="table table-responsive">
    <thead>
        <tr class="table-secondary">
            <td>Recipient</td>
            <td>Action</td>
            <td>Role Name</td>
            <td>Phone Number</td>
            <td>Create Date</td>
            <td>Sen tDate</td>
            <td>Sent </td>
            <td>Sent Tries</td>
            <td>Confirmation Number</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Recipient</td>
                <td>@item.Action</td>
                <td>@item.Rolename</td>
                <td>@item.PhoneNumber</td>
                <td>@item.CreateDate</td>
                @if (item.SentDate == DateTime.MinValue)
                {
                    <td>-</td>
                }
                else
                {
                    <td>@item.SentDate</td>
                }
                <td>@item.sent</td>
                <td>@item.sentTries</td>
                <td>@item.ConfirmationNumber</td>
            </tr>
        }
    </tbody>
</table>

@*Pagination*@

<partial name="_PaginationPart" />
<script>
    $(".pageBtn").click(function () {
        var pageNumber = $(this).data('page');
        var RoleId = $("#RoleId").val();
        var Phonenumber = $("#Phonenumber").val();
        var PatientName = $("#PatientName").val();
        var Date1 = $("#Date1").val();
        var Date2 = $("#Date2").val();
        $.ajax({
            url: '/RecordsMenu/SmsLogTable',
            type: 'POST',
            data: {
                pagenumber: pageNumber,
                RoleId: RoleId,
                Phonenumber: Phonenumber,
                PatientName: PatientName,
                Date1: Date1,
                Date2: Date2
            },
            success: function (data) {
                $("#SmsLogTable").html(data);
            },
            error: function (error) {
                console.log(error);
                alert('error fetching details')
            },
        })
    })
</script>   