@model DateVM;
@{
    ViewData["Title"] = "Invoicing";
    Layout = "_PhysicianLayout";
}
<div>

    <div class="container mt-4 shadow" style="max-width: 1000px">
        <a href="@Url.Action("Invoicing", "PhysicianDashboard")" class="btn btn-outline-primary mb-2 text-decoration-none float-end"
           id="back-btn">
            <img src="~/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" class="img-fluid" alt="">
            Back
        </a>
        <form class="form-control border-0" asp-action="BiWeeklySheet" id="BiWeeklySheetForm" method="post">
            <table class="table table-responsive">
                <thead>
                    <tr class="table-secondary">
                        <td>Date</td>
                        <td>On-call Status</td>
                        <td>Total hours</td>
                        <td>Weekend/ Holiday</td>
                        <td>Number of HouseCalls</td>
                        <td>Number of Phone Consults</td>
                    </tr>
                </thead>
                <tbody>
                    <input asp-for="StartDate" value="@Model.StartDate" hidden />
                    <input asp-for="EndDate" value="@Model.EndDate" hidden />
                    <input asp-for="isFinal" id="isFinalBox" type="checkbox" hidden />
                    @for (int i = 0; i < Model.biweeklySheetVMs.Count; i++)
                    {
                        <tr>
                            <input asp-for="biweeklySheetVMs[i].Date" class="form-control" value="@Model.biweeklySheetVMs[i].Date" hidden />
                            <td>@Model.biweeklySheetVMs[i].Date</td>
                            <td>@Model.biweeklySheetVMs[i].OnCallStatus</td>
                            <td><input asp-for="biweeklySheetVMs[i].TotalHour" class="form-control" value="@Model.biweeklySheetVMs[i].TotalHour" /></td>
                            <td><input asp-for="biweeklySheetVMs[i].Weekend" class="form-check" type="checkbox" /></td>
                            <td><input asp-for="biweeklySheetVMs[i].NumberOfHouseCall" class="form-control" type="text" /></td>
                            <td><input asp-for="biweeklySheetVMs[i].NumberOfPhoneConsults" class="form-control" type="text" /></td>
                        </tr>
                    }
                </tbody>
            </table>
            <button class="btn btn-primary" type="button" id="addRecieptBtn">Add Receipts</button>
            <button type="submit" class="btn btn-primary float-end">Submit</button><br /><br />
        </form>
    </div>
    <div class="container mt-2 shadow" style="max-width: 1000px">

        <table class="table table-responsive" id="tableReciept">
            <thead>
                <tr class="table-secondary">
                    <td>Date</td>
                    <td>Item</td>
                    <td>Amount</td>
                    <td>Bill</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.biWeeklyReciepts.Count; i++)
                {
                    <partial name="_BiWeeklyReceiptForm" model="Model.biWeeklyReciepts[i]" />
                }
            </tbody>
        </table>
        <div>
            <button type="button" id="FinalizeSheetBtn" class="btn btn-primary float-end">Finalize</button>
        </div>
    </div>
</div>
@section AdminScript {
    <script>
        $("#addRecieptBtn").click(function () {
            $("#tableReciept").toggle();
        })
        $(document).ready(function () {
            $("#addRecieptBtn").click();   
        })

        $("#FinalizeSheetBtn").click(function(){
            $("#isFinalBox").prop('checked', true);
            $("#BiWeeklySheetForm").submit();
        })

        $(".editBtn").click(function () {
            var uid = $(this).data('id');
            $("#editReceiptBtn-"+ uid).addClass("d-none");
            $("#submitBtn-"+ uid).removeClass("d-none");
            $("#cancleBtn-" + uid).removeClass("d-none");
            $("#deleteReceiptBtn-" + uid).addClass("d-none");
            $("#viewReceiptBtn-" + uid).addClass("d-none");
            $("#billName-"+uid).addClass("d-none");
            $("#bill-"+uid).removeClass("d-none");
        })

        $(".deleteBtn").click(function () {
            var uid = $(this).data('id');
            var date = $("#Date-"+uid).val();
            $.ajax({
                url: '/PhysicianDashboard/DeleteBill',
                type: 'POST',
                data: {
                    date: date
                },
                success: function(res){
                    location.reload();
                }
            })
        })
    </script>
}