@model Chat;
@{
    ViewData["Title"] = "Chat With Admin";
    Layout = "_physicianLayout";
}
@section Styles{
    <style>

    </style>
}
<div class="container d-flex justify-content-between mt-4" style="max-width:1000px">
    <h4>
        Chat
    </h4>
    <a href="@Url.Action("Dashboard", "PhysicianDashboard")" class="btn btn-outline-primary m-2 text-decoration-none float-end"
       id="back-btn">
        <img src="~/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" class="img-fluid" alt="">
        Back
    </a>
</div>
<div class="container border mt-4" style="max-width:1000px; min-height: 69vh">
    <input asp-for="reqClientId" value="@Model.reqClientId" id="reqClientId" type="number" hidden />
    <input asp-for="SenderId" value="@Model.SenderId" id="SenderId" type="number" hidden />
    <input asp-for="AccountTypeOfSender" value="@Model.AccountTypeOfSender" id="AccountTypeOfSender" type="number" hidden />
    <div class="row p-1">
        <div class="col-1">Sender</div>
        <div class="col-5"><input type="text" class="form-control" id="userInput" value="@ViewBag.AdminName" disabled /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100 form-control" id="messageInput" /></div>
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" class="btn btn-outline-success" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList" class="list-unstyled">
                @foreach (var item in Model.chatHistories)
                {
                    <li>@item.Sender Says @item.Message</li>
                }
            </ul>
        </div>
    </div>
</div>
@section AdminScript{
    <script src="~/lib/microsoft-signalr/signalr.js" defer></script>
    <script src="~/js/chat.js" defer></script>
}   