@model List<sheetData>;
<table class="table table-responsive">
    <thead>
        <tr class="table-secondary">
            <td>Shiftdate</td>
            <td>Shift</td>
            <td>Nightshift weekend</td>
            <td>Housecall</td>
            <td>Housecall Nightshift weekend</td>
            <td>Phone counsults</td>
            <td>Phone counsults Nightshift weekend</td>
            <td>Batch testing</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.shift</td>
                <td>@item.NightshiftWeekend</td>
                <td>@item.HouseCall</td>
                <td>@item.HousecallNightsWeekend</td>
                <td>@item.phoneConsult</td>
                <td>@item.phoneConsultNightsWeekend</td>
                <td>@item.BatchTesting</td>
            </tr>
        }
    </tbody>
</table>