@model DocumentViewModel
@{
    ViewData["Title"] = "View Upload";
    Layout = "_PhysicianLayout";
}

<div class="container">
    <div class="d-flex justify-content-between mt-5">
        <h3>
            Documents
        </h3>
        <a href="@Url.Action("Dashboard", "PhysicianDashboard", new{status = Model.status})"
           class="btn btn-outline-primary m-2 text-decoration-none float-end" id="back-btn">
            <img src="~/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" class="img-fluid" alt="">
            Back
        </a>
    </div>
    <div class="p-3 shadow">
        <span>Patient Name</span>
        <h4>@Model.PatientName (@Model.ConfirmationNo)</h4>
        <p>Check here to review and add files that you or client/Member has attached to the Request.</p>

        <form class="form-floating p-2" method="post" asp-action="UploadDocument" asp-controller="PhysicianDashboard"
              enctype="multipart/form-data">
            <input type="hidden" asp-for="UploadFileViewModel.reqId" name="reqId" value="@Model.UploadFileViewModel.reqId" />
            <div class="input-group m-1 mb-3">
                <input asp-for="UploadFileViewModel.formFile" name="formFile" type="file" id="actualFileBtn"
                       class="form-control" hidden>
                <span asp-validation-for="UploadFileViewModel.formFile" id="fileChoosen" class="form-control">
                    Select File
                </span>
                <label class="input-group-text" id="uploadFileLabel" for="actualFileBtn">
                    <img src="~/images/cloud_upload.svg" alt="">
                    Upload
                </label>
                <button class="btn border btn-primary" type="submit">
                    Submit
                </button>
            </div>
        </form>

        <div class="d-flex justify-content-between mt-5">
            <h5>Documents</h5>
            <div>
                <a class="btn float-end me-2 btn-outline-primary" id="sendEmailDoc" >
                    <span class="">Send Email</span>
                </a>
                <a class="btn float-end me-2 btn-outline-primary" id="DownloadAll">
                    <span class="">Download All</span>
                </a>
            </div>
        </div>

        <div class="d-md-none">
            @foreach (var item in Model.PatientDocumentViewModel)
            {
                @if (item.IsDeleted != true)
                {
                    <div>
                        <div>
                            <input class="selectFile" type="checkbox" value="@item.RequestId/@item.Filename" />
                            <span class="FileName">
                                @item.Filename
                            </span>
                        </div>
                        <span class="">@item.createdate</span><br />
                        <span class="">
                            <input value="@item.ReqClientId" class="ReqClientId" hidden>
                            <a href="/uploadedFiles/RequestData/@item.RequestId/@item.Filename" class="btn btn-outline-primary" download>
                                <img id="uploadFile" src="~/images/cloud-arrow-down.svg" />
                            </a>
                        </span>
                    </div>
                }
            }
        </div>

        <table class="table shadow mt-3 d-none d-md-table">
            <thead>
                <tr>
                    <th>
                        <input id="selectAll" type="checkbox"  />
                    </th>
                    <th>Documents</th>
                    <th>Upload Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PatientDocumentViewModel)
                {
                    @if (item.IsDeleted != true)
                    {
                        <tr>
                            <td>
                                <input class="selectFile" type="checkbox" value="@item.RequestId/@item.Filename" />
                            </td>
                            <td class="FileName">@item.Filename</td>
                            <td>@item.createdate</td>
                            <td>
                                <input value="@item.ReqClientId" class="ReqClientId" hidden>
                                <a href="/uploadedFiles/RequestData/@item.RequestId/@item.Filename" class="btn downloadFile"
                                   style="color: #01bce9; border: 1px solid #01bce9;" download>
                                    <img id="uploadFile" src="~/images/cloud-arrow-down.svg" />
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section AdminScript {
    <script src="/js/ViewUploadJs.js"></script>
}