<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HalloDoc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/css/HeaderFooter.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/css/validation.css" />

</head>

<body>
    <div class="main w-100 h-100" style="min-height:95vh">
        <header id="header" class="shadow-lg w-100">
            @if (ViewBag.Data != null)
            {
                <a id="listImg" class="btn border d-md-none mt-3 mb-3 " onclick="openNav()">
                    <img src="~/images/list.svg" alt="" >
                </a>
            }

            <img src="~/images/logo.png" class="" height="80%" alt="">

            <div class="float-end d-flex">
                @if (ViewBag.Data != null)
                {
                    <h4 class="m-auto d-none d-md-block">Welcome <b>@ViewBag.data</b></h4>
                    <a id="logout-btn"
                       asp-controller="Home" asp-action="logout"
                       class="btn mt-3 mb-3 me-1 m-md-3 m-lg-4 float-end"
                       style="color: #01bce9; border: 1px solid #01bce9;">
                        <span class="d-none d-md-block">Log Out</span>
                        <img id="logoutImg" src="~/images/box-arrow-right.svg" class="d-md-none">
                    </a>

                }
                <a id="light-dark-btn" class="btn border border-black mt-3 mb-3 m-md-3 m-lg-4">
                    <img src="~/images/dark_mode_black_24dp.svg" alt="">
                </a>
            </div>

        </header>
        @if (ViewBag.Data != null)
        {

            <ul class="d-none d-md-flex nav w-100 border-bottom" id="togglebar">
                <li class="nav-item ms-3 me-1">
                    <a class="nav-link" id="DashboardLink" href="@Url.Action("Dashboard", "Patient")">Dashboard</a>
                </li>
                <li class="nav-item pe-1">
                    <a class="nav-link" href="@Url.Action("MyProfile", "Patient")">Profile</a>
                </li>
            </ul>
        }
        <div id="mySidebar" class="sidebar">
            <p class="p1">Welcome</p>
            <a class="closebtn" onclick="closeNav()">×</a>
            <b class="nameOfuser">@ViewBag.Data</b>
            <ul class="d-md-none w-100">
                <li class="nav-item pe-1">
                    <a class="nav-link" id="DashboardLink" href="@Url.Action("Dashboard", "Patient")">Dashboard</a>
                </li>
                <li class="nav-item pe-1">
                    <a class="nav-link" href="@Url.Action("MyProfile", "Patient")">My Profile</a>
                </li>
            </ul>
        </div>
        <div id="myChatBox" class="sidebarChat">
        </div>
        @RenderBody()
    </div>
    <footer id="footer" class="footer w-100 mt-auto bg-dark  shadow">
        <span class="border-end border-white border-2 pe-3">Terms and Conditions</span>
        <span class="ps-3">Privacy Policy</span>
    </footer>


    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/js/bootstra.bundle.min.js"></script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/admin.js"></script>
    <script src="~/js/Validation.js"></script>
    <script src="~/lib/microsoft-signalr/signalr.js" defer></script>
    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "45vw";
        }

        function closeNav() {

            document.getElementById("mySidebar").style.width = "0px";
        }
        function openChatBox() {
            document.getElementById("myChatBox").style.width = "45vw";
        }
        function closeChatBox() {
            document.getElementById("myChatBox").style.width = "0px";
            document.getElementById("myChatBox").innerHTML = "";
        }
    </script>
    @RenderSection("Script", required: false)
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</body>

</html>