<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HalloDoc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/css/AdminDashboard.css" />
    <link rel="stylesheet" href="~/css/HeaderFooter.css" />
    <link rel="stylesheet" href="~/css/validation.css" />

    <!-- js ans css for phone input -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    @RenderSection("Styles", required: false)
</head>

<body>
    <div class="main" style="overflow-x: hidden;">
        <span class="loader " id="loader"></span>
        <header id="header" class="shadow-lg w-100 border-bottom">
            @if (ViewBag.AdminName != null)
            {
                <a id="listImg" class="btn border d-md-none mt-3 mb-3">
                    <img src="~/images/list.svg" alt="" onclick="openNav()">
                </a>
            }

            <img src="~/images/logo.png" class="" height="80%" alt="">

            <div class="float-end d-flex">
                @if (ViewBag.AdminName != null)
                {
                    <h4 class="m-auto d-none d-md-block">Welcome <b>@ViewBag.AdminName</b></h4>
                    <a id="logout-btn"
                       asp-controller="Home" asp-action="logout"
                       class="btn mt-3 mb-3 me-1 m-md-3 m-lg-4 float-end"
                       style="color: #01bce9; border: 1px solid #01bce9;">
                        <span class="d-none d-md-block">Log Out</span>
                        <img id="logoutImg" src="~/images/box-arrow-right.svg" class="d-md-none">
                    </a>

                }
                <a id="light-dark-btn" class="btn border border-black mt-3 mb-3 m-md-3 m-lg-4">
                    <img src="~/images/dark_mode_black_24dp.svg" alt="">
                </a>
            </div>
        </header>
        <nav id="adminNav">
            <ul class="d-none d-md-flex nav w-100 border-bottom" id="togglebar">
                <li class="nav-item ms-3 me-1">
                    <a class="nav-link" id="DashboardLink" href="@Url.Action("Dashboard", "PhysicianDashboard")">Dashboard</a>
                </li>
                <li class="nav-item pe-1">
                    <a class="nav-link" href="@Url.Action("Invoicing", "PhysicianDashboard")">Invoicing</a>
                </li>
                <li class="nav-item pe-1">
                    <a class="nav-link" href="@Url.Action("MyProfile", "PhysicianDashboard")">My Profile</a>
                </li>
                <li class="nav-item pe-1">
                    <a class="nav-link" href="@Url.Action("Scheduling", "PhysicianDashboard")">My Schedule</a>
                </li>
            </ul>
        </nav>
        <div id="mySidebar" class="sidebar">
            <p class="p1">Welcome</p>
            <a class="closebtn" onclick="closeNav()">×</a>
            <b class="nameOfuser">@ViewBag.AdminName</b>
            <ul class="d-md-none w-100">
                <li class="nav-item pe-1">
                    <a class="nav-link" id="DashboardLink" href="@Url.Action("Dashboard", "PhysicianDashboard")">Dashboard</a>
                </li>
                <li class="nav-item pe-1">
                    <a class="nav-link" href="@Url.Action("Invoicing", "PhysicianDashboard")">Invoicing</a>
                </li>
                <li class="nav-item pe-1">
                    <a class="nav-link" href="@Url.Action("MyProfile", "PhysicianDashboard")">My Profile</a>
                </li>
                <li class="nav-item pe-1">
                    <a class="nav-link" href="@Url.Action("Scheduling", "PhysicianDashboard")">My Schedule</a>
                </li>
            </ul>
        </div>

        <div id="myChatBox" class="sidebarChat">
        </div>
        @RenderBody()
    </div>

    <footer id="footer" class="footer w-100 mt-auto bg-dark shadow">
        <span class="border-end border-white border-2 pe-3">Terms and Conditions</span>
        <span class="ps-3">Privacy Policy</span>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        //dark mode

        document.getElementById('light-dark-btn').addEventListener('click', () => {
            if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
                localStorage.setItem("PageTheme", "light");
                document.documentElement.setAttribute('data-bs-theme', 'light')
            }
            else {
                localStorage.setItem("PageTheme", "dark");
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            }
        })
        if (localStorage.getItem("PageTheme") === "light") {
            document.documentElement.setAttribute('data-bs-theme', 'light')
        }
        else {
            document.documentElement.setAttribute('data-bs-theme', 'dark')
        }

        $("#logout-btn").click(function () {
            localStorage.clear();
        });

        function openNav() {
            document.getElementById("mySidebar").style.width = "45vw";
        }

        function closeNav() {

            document.getElementById("mySidebar").style.width = "0px";
        }
        function openChatBox() {
            document.getElementById("myChatBox").style.width = "45vw";
        }
        function closeChatBox() {
            document.getElementById("myChatBox").style.width = "0px";
        }
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/admin.js"></script>
    <script src="~/js/Validation.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    @RenderSection("AdminScript", required: false)
    @await Component.InvokeAsync("Notyf")
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</body>

</html>