@model HalloDoc.DataAccess.ViewModel.DashboardViewModel;
@{
    ViewData["Title"] = "Patient Dashboard";
}

@section Styles {
    <link rel="stylesheet" href="~/css/submit-request-screen.css">
    <link rel="stylesheet" href="~/css/PatientDashBoard.css">
    <link rel="stylesheet" href="~/css/create-patient-request.css">

    <!-- js ans css for phone input -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
}
<div class="modal  fade" id="newReqModal" tabindex="-1" aria-labelledby="newReqModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"> 
            <div class="modal-header" style="background-color: #01bce9; color:white;">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Request</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                Here, I want to create  new request for...
                </p>
                <div class="d-flex justify-content-center">
                    @*<button type="button" class="btn me-1" style="background-color: #01bce9; color:white;">
                        Me
                    </button>
                    <button type="button" class="btn me-1" style="color: #01bce9; border: #01bce9 1px solid;">
                        Some One Else
                    </button>*@
                    <input type="radio" class="btn-check me-1"  name="options" id="me" autocomplete="off" checked>
                    <label class="btn btn-outline-primary me-1" for="me">Me</label>

                    <input type="radio" class="btn-check me-1" name="options" id="someoneelse" autocomplete="off">
                    <label class="btn btn-outline-primary me-1" for="someoneelse">Some One Else</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="choseMeOrELse()" class="btn" style="background-color: #01bce9; color:white;" data-bs-dismiss="modal">Continue</button>
                <button type="button" class="btn" style="color: #01bce9; border: #01bce9 1px solid;" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="tabs" class="border-top ">

    <div class="tab-content">
        <div class="tab-pane fade show active m-5" id="tab1">
            <h4>Medical History</h4>
            <div class="shadow">
                <a class="btn m-3 m-lg-4 float-end" data-bs-toggle="modal" data-bs-target="#newReqModal"
                   style="color: #01bce9; border: 1px solid #01bce9;">
                    <span class="d-none d-md-block">Create New Request</span>
                    <img src="~/images/plus-lg.svg" id="addImg" class="d-md-none">
                </a>
            </div>
            <div class="w-100 table-responsive shadow">
                <div class="d-block d-md-none">
                    @foreach (var item in Model.PatientDashboardViewModel)
                    {
                        <p class="d-inline-flex gap-1">
                            <div class="ms-1 ps-1" data-bs-toggle="collapse" href="#@item.RequestId" role="button" aria-expanded="false">
                                <img src="~/images/clock.svg">
                                Created date : @item.Createddate
                            </div>
                        </p>
                        <div class="collapse" id="@item.RequestId">
                            <div class="card card-body">
                                Provider: 
                                <div>
                                    <img src="~/images/check-circle.svg">
                                    CurrentStatus: @item.Status
                                </div>
                                <div>
                                    <a href="@Url.Action("Document", "Patient", new{reqId = item.RequestId})" class="btn" id="doc" style="color: #01bce9; border: 1px solid #01bce9;">
                                        Document
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <table class="table m-auto d-none d-md-table">
                    <thead>
                        <tr>
                            <th>Created Date</th>
                            <th>Current Status</th>
                            <th>Document</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PatientDashboardViewModel)
                        {
                            <tr>
                                <td>@item.Createddate</td>
                                <td>@item.Status</td>
                                <td>
                                    @if (item.fileCount != 0)
                                    {

                                        <a href="@Url.Action("Document", "Patient", new{reqId = item.RequestId})" class="btn" id="doc" style="color: #01bce9; border: 1px solid #01bce9;">
                                            Document
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade show " id="tab2">
            <div class="container d-flex justify-content-between mt-4" style="max-width:1000px">
            <h4>User Profile</h4>
                <a href="@Url.Action("Back")" class="btn m-2 text-decoration-none float-end"
                   id="back-btn">
                    <img src="~/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" class="img-fluid" alt="">
                    <span>Back</span>
                </a>
            </div>
            <div class="container-fluid d-flex justify-content-center mt-4">

                <form id="patient-request-form" method="post" asp-action="Profile" asp-controller="Patient" class="form-floating shadow patient-request-form p-2">
                    <fieldset disabled id="field">
                        <input asp-for="ProfileEditViewModel.UserId"  hidden/>
                        <span asp-validation-for="ProfileEditViewModel.UserId"></span>
                    <h4 class="mt-4 mb-4 ms-2">General Information</h4>
                    <div class="row g-2 m-1">
                        <div class="col-md">
                            <div class="form-floating">
                                    <input asp-for="ProfileEditViewModel.Firstname" type="text" class="form-control" placeholder="">
                                <label for="">First Name</label>
                            </div>
                            <span asp-validation-for="ProfileEditViewModel.Firstname"></span>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                    <input asp-for="ProfileEditViewModel.Lastname" type="text" class="form-control" placeholder="">
                                <label for="floatingSelectGrid">Last Name</label>
                            </div>
                                <span asp-validation-for="ProfileEditViewModel.Lastname"></span>
                        </div>
                    </div>

                    <div class="row g-2 m-1">
                        <div class="col-md-6">
                            <div class="form-floating">
                                    <input asp-for="ProfileEditViewModel.Strmonth" type="date" class="form-control" placeholder="">
                                <label for="">Date Of Birth</label>
                            </div>
                                <span asp-validation-for="ProfileEditViewModel.Strmonth"></span>
                        </div>
                    </div>

                    <h4 class="mt-4 mb-4 ms-2">Patient Contact Information</h4>
                    <div class="row g-2 m-1">
                        @*<div class="col-md-2">
                            <div class="dropdown h-100">
                                <select class="form-select h-100" aria-label="type">
                                    <option selected>type</option>
                                    <option value="1">Mobile</option>
                                    <option value="2">Laptop</option>
                                </select>
                            </div>
                        </div>*@
                        <div class="col-md-6">
                            <div class="form-floating">
                                    <input asp-for="ProfileEditViewModel.Email" id="checkEmail" type="email" class="form-control" placeholder="name@example.com">
                                <label for="">Email</label>
                            </div>
                                <span asp-validation-for="ProfileEditViewModel.Email"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating phone-div w-100 h-100 ">
                                    <input asp-for="ProfileEditViewModel.Phonenumber" type="tel" class="patientPhone form-control w-100 h-100" placeholder="">
                                <label for=""></label>
                            </div>
                                <span asp-validation-for="ProfileEditViewModel.Phonenumber"></span>
                        </div>
                    </div>


                    <h4 class="mt-4 mb-4 ms-2">Location Information</h4>
                    <div class="row g-2 m-1">
                        <div class="col-md-6">
                            <div class="form-floating">
                                    <input asp-for="ProfileEditViewModel.Street" type="text" class="form-control" placeholder="">
                                <label for="">Street</label>
                            </div>
                                <span asp-validation-for="ProfileEditViewModel.Street"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                    <input asp-for="ProfileEditViewModel.City" type="text" class="form-control" placeholder="">
                                <label for="">City</label>
                            </div>
                                <span asp-validation-for="ProfileEditViewModel.City"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                    <input asp-for="ProfileEditViewModel.State" type="text" class="form-control" placeholder="">
                                <label for="">State</label>
                            </div>
                                <span asp-validation-for="ProfileEditViewModel.State"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                    <input type="text" asp-for="ProfileEditViewModel.Zipcode" class="form-control" placeholder="">
                                <label for="">Zip Code</label>
                            </div>
                                <span asp-validation-for="ProfileEditViewModel.Zipcode"></span>
                        </div>
                    </div>

                    </fieldset>
                    <button type="reset" onclick="cancelEdit()" id="cancelBtn" class="btn btn-primary float-end m-1 d-none">Cancel</button>
                    <button type="submit"  id="submitBtn" class="btn btn-primary float-end m-1 d-none">Submit</button>
                    <button type="button" onclick="editDetails()" id="editBtn" class="btn btn-primary float-end m-1 d-block">Edit</button>
                    <br><br><br><br><br>
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script>
        function choseMeOrELse(){
            if (document.getElementById('me').checked == true) {
                window.location.href = "CreateRequest";
            } else {
                window.location.href = "CreateRequestForElse";
            }
        }
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}