@model HalloDoc.DataAccess.ViewModel.DashboardViewModel;
@{
    ViewData["Title"] = "Patient Dashboard";
}

@section Styles {
    <!-- js ans css for phone input -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <link rel="stylesheet" href="~/css/submit-request-screen.css">
    <link rel="stylesheet" href="~/css/PatientDashBoard.css">
    <link rel="stylesheet" href="~/css/create-patient-request.css">

}
<div class="modal  fade" id="newReqModal" tabindex="-1" aria-labelledby="newReqModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"> 
            <div class="modal-header" style="background-color: #01bce9; color:white;">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Request</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                Here, I want to create  new request for...
                </p>
                <div class="d-flex justify-content-center">
                    <input type="radio" class="btn-check me-1"  name="options" id="me" autocomplete="off" checked>
                    <label class="btn btn-outline-primary me-1" for="me">Me</label>

                    <input type="radio" class="btn-check me-1" name="options" id="someoneelse" autocomplete="off">
                    <label class="btn btn-outline-primary me-1" for="someoneelse">Some One Else</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="choseMeOrELse()" class="btn" style="background-color: #01bce9; color:white;" >Continue</button>
                <button type="button" class="btn" style="color: #01bce9; border: #01bce9 1px solid;" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="tabs" class="border-top ">

    <div class="tab-content">
        <div class="tab-pane fade show active m-5" id="tab1">
            <h4>Medical History</h4>
            <div class="shadow">
                <a class="btn m-3 m-lg-4 float-end" data-bs-toggle="modal" data-bs-target="#newReqModal"
                   style="color: #01bce9; border: 1px solid #01bce9;">
                    <span class="d-none d-md-block">Create New Request</span>
                    <img src="~/images/plus-lg.svg" id="addImg" class="d-md-none">
                </a>
            </div>
            <div class="w-100 table-responsive shadow">
                <div class="d-block d-md-none">
                    @foreach (var item in Model.PatientDashboardViewModel)
                    {
                        <p class="d-inline-flex gap-1">
                            <div class="ms-1 ps-1" data-bs-toggle="collapse" href="#@item.RequestId" role="button" aria-expanded="false">
                                <img src="~/images/clock.svg">
                                Created date : @item.Createddate
                            </div>
                        </p>
                        <div class="collapse" id="@item.RequestId">
                            <div class="card card-body">
                                Provider: 
                                <div>
                                    <img src="~/images/check-circle.svg">
                                    CurrentStatus: @item.Status
                                </div>
                                <div>
                                    <a href="@Url.Action("Document", "Patient", new{reqId = item.RequestId})" class="btn" id="doc" style="color: #01bce9; border: 1px solid #01bce9;">
                                        (@item.fileCount) Document
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <table class="table m-auto d-none d-md-table">
                    <thead>
                        <tr>
                            <th>Created Date</th>
                            <th>Current Status</th>
                            <th>Document</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PatientDashboardViewModel)
                        {
                            <tr>
                                <td>@item.Createddate</td>
                                <td>@item.Status</td>
                                <td>
                                    @if (item.fileCount != 0)
                                    {

                                        <a href="@Url.Action("Document", "Patient", new{reqId = item.RequestId})" class="btn" id="doc" style="color: #01bce9; border: 1px solid #01bce9;">
                                            (@item.fileCount) Document
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const Phone = document.getElementById("Phone");
        var phoneInput = window.intlTelInput(Phone,
            {
                utilsScript:
                    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
                preferredCountries: ["in"],
                separateDialCode: true,
                initialCountry: "in"
            });
    </script>
    <script>
        function choseMeOrELse(){
            if (document.getElementById('me').checked == true) {
                window.location.href = "CreateRequest";
            } else {
                window.location.href = "CreateRequestForElse";
            }
        }
    </script>
}