@model DocumentViewModel;
@{
    ViewData["Title"] = "View Document";
}

@section Styles {
    <link rel="stylesheet" href="~/css/submit-request-screen.css">
    <link rel="stylesheet" href="~/css/PatientDashBoard.css">
}

<div class="container">
    <div class="d-flex justify-content-between mt-5">
        <h3>
            Documents
        </h3>
        <a href="@Url.Action("Back")" class="btn m-2 text-decoration-none float-end"
           id="back-btn">
            <img src="~/images/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" class="img-fluid" alt="">
            <span>Back</span>
        </a>
    </div>
    <div class="p-3 shadow">
        <span>Patient Name</span>
        <h4>@Model.PatientName</h4>
        <p>Check here  for any files that you or doctors of your subsequents requestors have attached for you to review.</p>

        <form class="form-floating p-2" method="post" asp-action="Document" asp-controller="Patient" enctype="multipart/form-data">
            <div class="input-group m-1 mb-3">
                <input type="hidden" name="reqId" value="@Model.UploadFileViewModel.reqId" />
                <input asp-for="UploadFileViewModel.formFile" name="formFile" type="file" id="actualFileBtn" class="form-control" id="inputGroupFile02" hidden>
                <span asp-validation-for="UploadFileViewModel.formFile" id="fileChoosen" class="form-control">Select File</span>
                <label class="input-group-text" id="uploadFileLabel" for="actualFileBtn">
                    <img src="~/images/cloud_upload.svg" alt="">
                    Upload
                </label>
                <button class="btn border " style="background-color: #01bce9; color: white;" type="submit">Submit</button>
            </div>
        </form>

        <div class="d-flex justify-content-between mt-5">
            <h5>Documents</h5>
            <a class="btn float-end" href="@Url.Action("DownloadAllFiles", new{requestId = Model.UploadFileViewModel.reqId})"
               style="color: #01bce9; border: 1px solid #01bce9;">
                <span class="">Download All</span>
            </a>
        </div>

        <div class="d-md-none">
            @foreach (var item in Model.PatientDocumentViewModel)
            {
                <div>
                    <div class="">
                        <input type="checkbox" />
                        @item.Filename
                    </div>
                    <span class="">@item.Name</span><br />
                    <span class="">@item.createdate</span><br />
                    <span class="">
                        <a href="/uploadedFiles/@item.Filename"
                           class="btn"
                           style="color: #01bce9; border: 1px solid #01bce9;" download>
                            <img id="uploadFile" src="~/images/cloud-arrow-down.svg" />
                        </a>
                    </span>
                </div>
            }
        </div>

        <table class="table shadow mt-3 d-none d-md-table">
            <thead>
                <tr>
                    <th>
                        <input id="selectAll" type="checkbox" />
                    </th>
                    <th></th>
                    <th>Uploader</th>
                    <th>Upload Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PatientDocumentViewModel)
                {
                    <tr>
                        <td>
                            <input class="selectFile" type="checkbox" />
                        </td>
                        <td>@item.Filename</td>
                        <td>@item.Name</td>
                        <td>@item.createdate</td>
                        <td>

                            <a href="/uploadedFiles/@item.Filename"
                               class="btn"
                               style="color: #01bce9; border: 1px solid #01bce9;" download>
                                <img id="uploadFile" src="~/images/cloud-arrow-down.svg" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
}